<section class="relative bg-[linear-gradient(90deg,#0B0F19_0%,#172033_51.04%,#0B0F19_100%)] pt-10 md:pt-15 lg:pt-20">
        <div class="absolute inset-0 size-full bg-[url('assets/img/landing/saas-5/hero-bg-pattern.png')] bg-cover bg-no-repeat bg-center bg-fixed"></div>
        <div class="relative z-10 container mx-auto px-4">
            <div class="flex justify-center md:pt-12">
                <div class="text-center max-w-3xl lg:max-w-3xl pt-12 mt-1">
                    <a [routerLink]="[]" class="inline-flex items-center text-sm py-2 px-4 font-semibold bg-transparent rounded-4xl border border-white/12 bg-[linear-gradient(to_right,#6366f1,#8b5cf6,#d946ef)] bg-clip-text text-transparent">
                        <span class="font-extrabold">New Silicon v2.0</span>
                        <iconify-icon icon="lucide:arrow-right" class="text-primary text-lg ms-2 -me-1"></iconify-icon>
                    </a>
                    <h1 class="text-white lg:text-[56px] md:text-[45px] text-[33px] font-extrabold md:mt-8 mt-6 mb-6">
                        Powerful AI models to serve your business needs</h1>
                    <p class="text-white text-xl mb-5 opacity-70">Our robust platform is designed to handle large volumes of data and processing power, making it perfect for businesses of all sizes. </p>
                </div>
            </div>
        </div>
        <div class="hidden lg:block lg:h-120 h-100"></div>
        <div class="block lg:hidden lg:h-120 h-100"></div>
        <div class="absolute bottom-0 start-0 w-full overflow-hidden">
            <div class="relative start-1/2 -translate-x-1/2 translate-y-0.25 text-body-bg flex-shrink-0 w-943.5">
                <svg class="text-body-bg" width="3774" height="201" viewBox="0 0 3774 201" fill="none" xmlns="http://www.w3.org/2000/svg" class="block">
                    <path d="M0 200.003C0 200.003 1137.52 0.188224 1873.5 0.000134392C2614.84 -0.189325 3774 200.003 3774 200.003H0Z" fill="currentColor" />
                </svg>
            </div>
        </div>
    </section>