<div class="lg:w-4xl lg:ms-28 lg:mx-0 md:w-md md:mx-auto md:pt-6 lg:pb-24 md:pb-18 pb-12">
    <div class="text-start">
        <div class="md:flex justify-between items-center mb-8">
            <h1 class="lg:text-[33px] md:text-[28px] text-2xl font-extrabold">My Collections</h1>
            <select class="md:mt-0 mt-3 block md:w-auto w-full text-sm pe-12 rounded-lg border-default-300 text-default-700 bg-transparent dark:bg-dark  dark:border-white/14 px-4.5 py-3 focus:ring-primary">
                <option value="Published">Published</option>
                <option value="Category">Category</option>
                <option value="Title AZ">Title AZ</option>
                <option value="Title ZA">Title ZA</option>
            </select>
        </div>

        <div class="flex flex-col gap-y-6">
            <div class="bg-white dark:bg-white/4 shadow-custom overflow-hidden rounded-lg">
                <div class="grid md:grid-cols-12">
                    <div class="md:col-span-4">
                        <a href="#">
                            <img src="/img/account/collection01.jpg" alt="" class="md:rounded-s-lg md:rounded-t-none rounded-t-lg h-full object-cover">
                        </a>
                    </div>

                    <div class="md:col-span-8">
                        <div class="p-6">
                            <p class="text-sm mb-1 text-default-400 dark:text-white/50">Nov 30, 2023</p>
                            <h2 class="mb-3">
                                <a href="#" class="text-2xl font-extrabold hover:text-primary transition-all">3D Shape Illustration</a>
                            </h2>

                            <p class="lg:mb-12 mb-6">NFT / Graphic Design / Motion Design</p>
                            <div class="flex items-center gap-4">
                                <button class="py-2.5 lg:px-6 px-4 text-sm font-semibold text-primary border border-primary/40 rounded-md hover:bg-primary hover:text-white transition-all duration-300 flex items-center justify-center gap-1.5">
                                    <i data-lucide="square-pen" class="size-4"></i>
                                    <span class="lg:block hidden">Edit</span>
                                </button>

                                <button class="py-2.5 lg:px-6 px-4 text-sm font-semibold text-default-800 border border-default-300 hover:border-default-200 dark:border-white/14 rounded-md hover:bg-default-200 dark:hover:bg-white dark:hover:text-black transition-all duration-300 flex items-center justify-center gap-1.5">
                                    <i data-lucide="power" class="size-4"></i>
                                    <span class="lg:block hidden">Deactivate</span>
                                </button>

                                <button class="py-2.5 lg:px-6 px-4 text-sm font-semibold text-danger border border-danger/40 rounded-md hover:bg-danger hover:text-white transition-all duration-300 flex items-center justify-center gap-1.5">
                                    <i data-lucide="trash" class="size-4"></i>
                                    <span class="lg:block hidden">Delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-white dark:bg-white/4 shadow-custom overflow-hidden rounded-lg">
                <div class="grid md:grid-cols-12">
                    <div class="md:col-span-4">
                        <a href="#">
                            <img src="/img/account/collection02.jpg" alt="" class="md:rounded-s-lg md:rounded-t-none rounded-t-lg h-full object-cover">
                        </a>
                    </div>

                    <div class="md:col-span-8">
                        <div class="p-6">
                            <p class="text-sm mb-1 text-default-400 dark:text-white/50">Oct 18, 2023</p>
                            <h2 class="mb-3">
                                <a href="#" class="text-2xl font-extrabold hover:text-primary transition-all">Scene of Sunglasses & Headphone on Human Head</a>
                            </h2>
                            <p class="lg:mb-12 mb-6">Graphic Design / Art / Identity / Motion Design</p>
                            <div class="flex items-center gap-4">
                                <button class="py-2.5 lg:px-6 px-4 text-sm font-semibold text-primary border border-primary/40 rounded-md hover:bg-primary hover:text-white transition-all duration-300 flex items-center justify-center gap-1.5">
                                    <i data-lucide="square-pen" class="size-4"></i>
                                    <span class="lg:block hidden">Edit</span>
                                </button>

                                <button class="py-2.5 lg:px-6 px-4 text-sm font-semibold text-default-800 border border-default-300 hover:border-default-200 dark:border-white/14 rounded-md hover:bg-default-200 dark:hover:bg-white dark:hover:text-black transition-all duration-300 flex items-center justify-center gap-1.5">
                                    <i data-lucide="power" class="size-4"></i>
                                    <span class="lg:block hidden">Deactivate</span>
                                </button>

                                <button class="py-2.5 lg:px-6 px-4 text-sm font-semibold text-danger border border-danger/40 rounded-md hover:bg-danger hover:text-white transition-all duration-300 flex items-center justify-center gap-1.5">
                                    <i data-lucide="trash" class="size-4"></i>
                                    <span class="lg:block hidden">Delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bg-white dark:bg-white/4 shadow-custom overflow-hidden rounded-lg">
                <div class="grid md:grid-cols-12">
                    <div class="md:col-span-4">
                        <a href="#">
                            <img src="/img/account/collection03.jpg" alt="" class="md:rounded-s-lg md:rounded-t-none rounded-t-lg h-full object-cover">
                        </a>
                    </div>

                    <div class="md:col-span-8">
                        <div class="p-6">
                            <p class="text-sm mb-1 text-default-400 dark:text-white/50">Aug 05, 2023</p>
                            <h2 class="mb-3">
                                <a href="#" class="text-2xl font-extrabold hover:text-primary transition-all">Mannequin Hands Holding Phone</a>
                            </h2>
                            <p class="lg:mb-12 mb-6">NFT / Mobile App Design / Graphic Design / Art</p>
                            <div class="flex items-center gap-4">
                                <button class="py-2.5 lg:px-6 px-4 text-sm font-semibold text-primary border border-primary/40 rounded-md hover:bg-primary hover:text-white transition-all duration-300 flex items-center justify-center gap-1.5">
                                    <i data-lucide="square-pen" class="size-4"></i>
                                    <span class="lg:block hidden">Edit</span>
                                </button>

                                <button class="py-2.5 lg:px-6 px-4 text-sm font-semibold text-default-800 border border-default-300 hover:border-default-200 dark:border-white/14 rounded-md hover:bg-default-200 dark:hover:bg-white dark:hover:text-black transition-all duration-300 flex items-center justify-center gap-1.5">
                                    <i data-lucide="power" class="size-4"></i>
                                    <span class="lg:block hidden">Deactivate</span>
                                </button>

                                <button class="py-2.5 lg:px-6 px-4 text-sm font-semibold text-danger border border-danger/40 rounded-md hover:bg-danger hover:text-white transition-all duration-300 flex items-center justify-center gap-1.5">
                                    <i data-lucide="trash" class="size-4"></i>
                                    <span class="lg:block hidden">Delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>