<section class="relative bg-[linear-gradient(90deg,#0B0F19_0%,#172033_51.04%,#0B0F19_100%)] lg:pt-30 md:pt-16 pt-12">
        <div class="absolute inset-0 size-full bg-[url('assets/img/landing/saas-5/hero-bg-pattern.png')] bg-no-repeat bg-center bg-fixed"></div>
        <div class="container">
            <h2 class="text-center text-white lg:text-[40px] md:text-[33px] text-[28px] font-semibold mb-10.5">Silicon vs Custom development</h2>
            <div class="relative -ms-4 md:ms-0 hidden md:block">
                <div class="absolute top-0 start-1/2 -translate-x-1/2 h-full bg-white/3 rounded-tl-md rounded-b-none hidden lg:block w-85.5"></div>
                <div class="absolute top-0 start-1/2 -translate-x-1/2 h-full bg-white/3 rounded-tr-md rounded-b-none lg:hidden w-75"></div>
                <div class="grid grid-cols-3 items-center relative z-10 gap-0">
                    <div></div>
                    <div class="py-4 w-60 mx-auto">
                        <div class="text-center py-4">
                            <h3 class="text-2xl font-semibold text-white mb-6">Silicon</h3>
                            <a [routerLink]="[]" class="block w-60 text-white text-sm px-7 py-3.25 rounded-full mb-2 bg-[linear-gradient(to_right,#6366f1,#8b5cf6,#d946ef)] transition-all font-bold duration-300 hover:bg-primary/90">Get
                                started - Free</a>
                            <p class="text-xs text-white/70">Our pricing starts at as low as $1,299 per team</p>
                        </div>
                    </div>

                    <div class="text-center pe-10">
                        <h3 class="text-2xl font-extrabold text-white pt-4 mb-0">Building In-House</h3>
                    </div>
                </div>

                <div class="relative w-full opacity-60">
                    <div class="absolute top-0 start-0 w-full h-px bg-gradient-to-r from-body-color via-transparent to-body-color"></div>
                    <div class="w-full h-px bg-primary"></div>
                </div>

                <div class="space-y-1">
                    <div class="grid grid-cols-3 items-center relative z-10 gap-0">
                        <div class="py-4 ps-10">
                            <div class="text-white/80 text-lg py-1 px-4 mx-auto max-w-xs">Data Models Infrastructure Cost</div>
                        </div>

                        <div class="py-4 text-center">
                            <div class="py-1 px-4 mx-auto">
                                <div class="text-white text-lg font-semibold">Included</div>
                                <div class="text-xs text-white/70">Cloud hosted AI/ML capacities</div>
                            </div>
                        </div>

                        <div class="py-4 pe-10 text-center">
                            <div class="py-1 px-4 mx-auto">
                                <div class="text-white text-lg font-semibold">From $10k to $50k</div>
                                <div class="text-xs text-white/70">per month</div>
                            </div>
                        </div>
                    </div>

                    <div class="relative w-full opacity-40">
                        <div class="absolute top-0 start-0 w-full h-px bg-gradient-to-r from-body-color via-transparent to-body-color">
                        </div>
                        <div class="w-full h-px bg-primary"></div>
                    </div>

                    <div class="grid grid-cols-3 items-center relative z-10 gap-0">
                        <div class="py-4 ps-10">
                            <div class="text-white/80 text-lg py-1 px-4 mx-auto max-w-xs">Engineering Cost</div>
                        </div>

                        <div class="py-4 text-center">
                            <div class="py-1 px-4 mx-auto">
                                <div class="text-white text-lg font-semibold">Included</div>
                                <div class="text-xs text-white/70">with our premium plans</div>
                            </div>
                        </div>

                        <div class="py-4 pe-10 text-center">
                            <div class="py-1 px-4 mx-auto">
                                <div class="text-white text-lg font-semibold">From $25k to $30k</div>
                                <div class="text-xs text-white/70">per engineer per month</div>
                            </div>
                        </div>
                    </div>

                    <div class="relative w-full opacity-40">
                        <div class="absolute top-0 start-0 w-full h-px bg-gradient-to-r from-body-color via-transparent to-body-color"></div>
                        <div class="w-full h-px bg-primary"></div>
                    </div>

                    <div class="grid grid-cols-3 items-center relative z-10 gap-0">
                        <div class="py-4 ps-10">
                            <div class="text-white/80 text-lg py-1 px-4 mx-auto max-w-xs">Time to Implement</div>
                        </div>

                        <div class="py-4 text-center">
                            <div class="py-1 px-4 mx-auto">
                                <div class="text-white text-lg font-semibold">Get started in minutes</div>
                            </div>
                        </div>

                        <div class="py-4 pe-10 text-center">
                            <div class="py-1 px-4 mx-auto">
                                <div class="text-white text-lg font-semibold">Average 6–9 months</div>
                                <div class="text-xs text-white/70">depends on team qualification</div>
                            </div>
                        </div>
                    </div>

                    <div class="relative w-full opacity-40">
                        <div class="absolute top-0 start-0 w-full h-px bg-gradient-to-r from-body-color via-transparent to-body-color"> </div>
                        <div class="w-full h-px bg-primary"></div>
                    </div>

                    <div class="grid grid-cols-3 items-center relative z-10 gap-0">
                        <div class="py-4 ps-10">
                            <div class="text-white/80 text-lg py-1 px-4 mx-auto max-w-xs">Maintenance & Operational Cost</div>
                        </div>

                        <div class="py-4 text-center">
                            <div class="py-1 px-4 mx-auto">
                                <div class="text-white text-lg font-semibold">Included</div>
                                <div class="text-xs text-white/70">with our premium plans</div>
                            </div>
                        </div>

                        <div class="py-4 pe-10 text-center">
                            <div class="py-1 px-4 mx-auto">
                                <div class="text-white text-lg font-semibold">Average $20k</div>
                                <div class="text-xs text-white/70">per engineer per month</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="md:hidden w-full overflow-x-auto">
                <table class="w-full table-fixed border-collapse">
                    <thead>
                        <tr class="text-center">
                            <th class="p-4">
                                <div class="text-lg font-semibold text-white">Around</div>
                                <a [routerLink]="[]" class="mt-2 inline-block w-full bg-primary hover:bg-primary/90 text-white text-xs font-medium py-2 px-4 rounded-full">
                                    Get started - Free
                                </a>
                                <p class="mt-1 text-xs text-body-color">Our pricing starts at as low as $1,299 per team</p>
                            </th>
                            <th class="p-4">
                                <div class="text-lg font-semibold text-white">Building In-House</div>
                            </th>
                        </tr>
                    </thead>

                    <tbody class="text-center text-white text-sm">
                        <tr class="border-y border-border/10">
                            <td colspan="2" class="bg-white/3 dark text-base font-medium py-3">Data Models Infrastructure Cost</td>
                        </tr>

                        <tr class="border-y border-border/10">
                            <td class="py-3">
                                <div class="font-semibold text-base">Included</div>
                                <div class="text-xs text-body-color">Cloud hosted AI/ML capacities</div>
                            </td>
                            <td class="py-3">
                                <div class="font-semibold text-base">From $10k to $50k</div>
                                <div class="text-xs text-body-color">per month</div>
                            </td>
                        </tr>

                        <tr class="border-y border-border/10">
                            <td colspan="2" class="bg-white/3 dark text-base font-medium py-3">Engineering Cost
                            </td>
                        </tr>

                        <tr class="border-y border-border/10">
                            <td class="py-3">
                                <div class="font-semibold text-base">Included</div>
                                <div class="text-xs text-body-color">with our premium plans</div>
                            </td>
                            <td class="py-3">
                                <div class="font-semibold text-base">From $25k to $30k</div>
                                <div class="text-xs text-body-color">per engineer per month</div>
                            </td>
                        </tr>

                        <tr class="border-y border-border/10">
                            <td colspan="2" class="bg-white/3 dark text-base font-medium py-3">Time to Implement</td>
                        </tr>

                        <tr class="border-y border-border/10">
                            <td class="py-3">
                                <div class="font-semibold text-base">Get started in minutes</div>
                            </td>
                            <td class="py-3">
                                <div class="font-semibold text-base">Average 6–9 months</div>
                                <div class="text-xs text-body-color">depends on team qualification</div>
                            </td>
                        </tr>

                        <tr class="border-y border-border/10">
                            <td colspan="2" class="bg-white/3 dark text-base font-medium py-3">Maintenance & Operational Cost</td>
                        </tr>

                        <tr class="border-y border-border/10">
                            <td class="py-3">
                                <div class="font-semibold text-base">Included</div>
                                <div class="text-xs text-body-color">with our premium plans</div>
                            </td>
                            <td class="py-3">
                                <div class="font-semibold text-base">Average $20k</div>
                                <div class="text-xs text-body-color">per engineer per month</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="hidden lg:block h-80"></div>
        <div class="block lg:hidden h-80"></div>
        <div class="absolute bottom-0 start-0 w-full overflow-hidden">
            <div class="relative start-1/2 -translate-x-1/2 translate-y-0.25 text-body-bg flex-shrink-0 w-943.5">
                <svg class="text-body-bg" width="3774" height="201" viewBox="0 0 3774 201" fill="none" xmlns="http://www.w3.org/2000/svg" class="block">
                    <path d="M0 200.003C0 200.003 1137.52 0.188224 1873.5 0.000134392C2614.84 -0.189325 3774 200.003 3774 200.003H0Z" fill="currentColor" />
                </svg>
            </div>
        </div>
    </section>