<section class="lg:py-24 md:py-18 py-12">
    <div class="container">
        <div class="flex flex-col gap-y-12">
            <div class="text-center lg:w-2xl md:w-xl mx-auto">
                <h1 class="mb-6 lg:text-[40px] md:text-[33px] text-[28px] font-extrabold">Transparent Pricing for You</h1>
                <p>Varius sed maecenas massa dictum viverra in. Viverra vel in elit, vivamus dui interdum. Nulla congue lobortis amet amet eleifend.</p>
            </div>

            <div class="overflow-auto">
                <div class="lg:grid lg:grid-cols-3 flex items-center">
                    @for (plan of pricingPlansData; track $index) {

                    <div [class]="plan.cardClass" class="min-w-72">

                        @if(plan.innerClass) {

                        <div [ngClass]="plan.innerClass">

                            <div [ngClass]="plan.textClass" class="text-center p-6">
                                <h3 class="lg:text-[28px] text-2xl font-extrabold mb-2" [ngClass]="plan.textClass">
                                    {{ plan.title }}
                                </h3>

                                <div class="text-lg opacity-70 mb-10">
                                    {{ plan.subtitle }}
                                </div>

                                <div class="lg:text-5xl md:text-4xl text-3xl mb-1 font-extrabold">
                                    {{ plan.price }}
                                </div>

                                <div class="opacity-50 mb-12">
                                    {{ plan.duration }}
                                </div>
                            </div>

                            <div class="text-center pb-6">
                                <a [routerLink]="[]" [class]="plan.buttonClass" class="inline-flex text-center font-semibold rounded-md py-3 px-8 transition-all">
                                    Get started now
                                </a>
                            </div>
                        </div>

                        } @else {

                        <div [ngClass]="plan.textClass" class="text-center p-6">
                            <h3 class="lg:text-[28px] text-2xl font-extrabold mb-2" >
                                {{ plan.title }}
                            </h3>

                            <div class="text-lg opacity-70 mb-10">
                                {{ plan.subtitle }}
                            </div>

                            <div class="lg:text-5xl md:text-4xl text-3xl mb-1 font-extrabold">
                                {{ plan.price }}
                            </div>

                            <div class="opacity-50 mb-12">
                                {{ plan.duration }}
                            </div>
                        </div>

                        <div class="text-center pb-6">
                            <a [routerLink]="[]" [class]="plan.buttonClass" class="inline-flex text-center font-semibold rounded-md py-3 px-8 transition-all">
                                Get started now
                            </a>
                        </div>
                        }
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>