<section class="dark:bg-white/3 lg:py-24 md:py-18 py-14">
  <div class="container">
    <div class="grid md:grid-cols-3 lg:gap-x-4 gap-x-6 gap-y-5">
      @for (item of awardData; track $index) {
        <div class="flex items-center justify-center">
          <img
            src="assets/img/landing/app-showcase-3/palm-branch-left-light.svg"
            class="block dark:hidden"
            alt="Palm branch"
          />

          <img
            src="assets/img/landing/app-showcase-3/palm-branch-left-dark.svg"
            class="hidden dark:block"
            alt="Palm branch"
          />

          <div class="text-center mx-3">
            <div class="text-xl opacity-80 mb-1">
              {{ item.platform }}
            </div>

            <h3 class="lg:text-2xl text-xl text-default-700 uppercase mb-1">
              {{ item.title }}
            </h3>

            <div class="text-xl opacity-80">
              {{ item.year }}
            </div>
          </div>

          <img
            src="assets/img/landing/app-showcase-3/palm-branch-right-light.svg"
            class="block dark:hidden"
            alt="Palm branch"
          />

          <img
            src="assets/img/landing/app-showcase-3/palm-branch-right-dark.svg"
            class="hidden dark:block"
            alt="Palm branch"
          />
        </div>
      }
    </div>
  </div>
</section>
