<div class="container md:pt-28 pt-20">
    <nav aria-label="breadcrumb">
        <ol class="flex flex-wrap items-center gap-2 text-default-500 dark:text-white/60 text-sm">
            <li>
                <a routerLink="/" class="flex items-center gap-1.5 font-semibold hover:text-default-900 transition-all">
                    <lucide-icon name="house" class="size-4.5"></lucide-icon>Home
                </a>
            </li>
            <lucide-icon name="chevrons-right" class="size-4"></lucide-icon>
            <li class="text-primary font-bold">{{ title }}</li>
        </ol>
    </nav>
</div>