    <section class="relative overflow-hidden">
        <div class="relative bg-dark lg:pt-26 md:pt-20 pt-18">
            <div class="container relative z-50">
                <div class="flex justify-center text-center lg:py-24 py-12">
                    <div class="lg:w-3xl w-xl">
                        <h1 class="lg:text-[56px] md:text-[45px] text-[33px] font-bold text-white lg:mb-8 mb-5">
                            Task Management Assistant You Gonna Love
                        </h1>

                        <p class="text-lg lg:mb-12 mb-8 text-white/70"> We offer you a new generation of task and project management system. Plan, manage and track all your tasks in one flexible software! </p>

                        <a [routerLink]="[]" class="inline-block bg-primary  text-white py-3.5 px-8 font-bold hover:shadow-none rounded-md transition-all hover:bg-primary-hover">Get
                            early access
                        </a>
                    </div>
                </div>
            </div>

            <div class="flex absolute top-full start-0 w-full overflow-hidden -mt-4 md:-mt-1">
                <div class="relative start-1/2 -translate-x-1/2 shrink-0 w-947">
                    <svg xmlns="http://www.w3.org/2000/svg" width="3788" height="144" viewBox="0 0 3788 144">
                        <path fill="#0b0f19" d="M0,0h3788.7c-525,90.2-1181.7,143.9-1894.3,143.9S525,90.2,0,0z" />
                    </svg>
                </div>
            </div>

            <div class="hidden lg:block h-75"></div>
            <div class="hidden md:block lg:hidden h-37.5"></div>
        </div>

        <div class="relative z-50 mx-auto max-w-312.5">
            <div class="hidden lg:block -mt-74"></div>
            <div class="hidden md:block lg:hidden -mt-37.5"></div>
            <div>
                <img src="assets/img/landing/saas-2/hero/layer01.png" alt="Dashboard">
                <div class="absolute top-0 start-0 size-full">
                    <img src="assets/img/landing/saas-2/hero/layer02.png" alt="Cards">
                </div>
            </div>
        </div>
    </section>