<section class="lg:pb-24 md:pb-18 pb-12">
    <div class="container">
        <div class="flex flex-col lg:gap-y-24 md:gap-y-18 gap-y-10">
            <div class="grid md:grid-cols-2 lg:gap-0 gap-8 lg:items-center">
                <div>
                    <img src="assets/img/services/single/image01.jpg" class="rounded-lg" alt="Image">
                </div>

                <div class="lg:w-lg lg:ms-auto">
                    <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold mb-6">We personalize how we work to fit your project needs</h2>
                    <p class="lg:mb-12 mb-6">Massa enim libero dictumst consectetur in convallis lobortis cursus mi a magna ullamcorper consectetur purus quisque.</p>
                    <a [routerLink]="[]" class="inline-block w-auto text-center bg-primary  text-white py-3.5 px-8 font-bold hover:!shadow-none rounded-md transition-all hover:bg-primary-hover">
                        Start your project
                    </a>
                </div>
            </div>

            <div class="grid md:grid-cols-2 lg:gap-0 gap-8 lg:items-center">
                <div class="md:order-1 order-2">
                    <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold md:mb-6 mb-4">Product development with the best experience</h2>
                    <p class="md:mb-6 mb-4">We create diverse, complex, web and mobile solutions for any business need. With us you get quality software and perfect service every time. Quisque integer eget velit facilisis enim malesuada metus, risus amet ultricies.</p>
                    <div class="flex flex-col gap-y-2">
                        <div class="flex items-center gap-2">
                            <lucide-icon name="check" class="size-5 text-primary"></lucide-icon>
                            Quis euismod lacus, at consectetur porta
                        </div>
                        <div class="flex items-center gap-2">
                            <lucide-icon name="check" class="size-5 text-primary"></lucide-icon>
                            Dictumst enim lectus dis eget non metus cras
                        </div>
                        <div class="flex items-center gap-2">
                            <lucide-icon name="check" class="size-5 text-primary"></lucide-icon>
                            Risus volutpat tellus hendrerit nibh
                        </div>
                    </div>
                </div>

                <div class="lg:w-xl lg:ms-auto md:order-2 order-1">
                    <img src="assets/img/services/single/image02.jpg" class="rounded-lg" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>