<section class="lg:pt-24 md:pt-18 pt-10">
    <div class="container">
        <div class="swiper px-4">
            <swiper-container class="swiper-wrapper lg:mb-0 md:mb-6 mb-8" [config]="swiperConfig" init="false">

                @for (item of featuresData; track item.title) {
                <swiper-slide>
                    <div class="hover:shadow-md transform hover:-translate-y-1.5 transition-all duration-300 rounded-lg dark:hover:bg-white/4">
                        <ng-lottie [options]="item.lightAnimation" class="block dark:hidden mx-auto mt-4 mb-2" style="width:180px;height:180px">
                        </ng-lottie>

                        <!-- Dark Animation -->
                        <ng-lottie [options]="item.darkAnimation" class="hidden dark:block mx-auto mt-4 mb-2" style="width:180px;height:180px">
                        </ng-lottie>

                        <div class="p-6 text-center text-lg font-semibold">
                            {{ item.title }}
                        </div>
                    </div>
                </swiper-slide>
                }
            </swiper-container>
            <div class="swiper-pagination position-relative bottom-0 mt-2"></div>
        </div>
    </div>
</section>