 <section class="bg-dark/95 dark:bg-white/4">
        <div class="container lg:w-full md:w-2xl w-88 lg:py-24 md:py-14 py-12 lg:px-6 rounded-lg">
            <div class="text-center lg:w-xl md:w-md w-xs mx-auto">

                <h2 class="md:text-2xl text-xl font-medium text-white/70 mb-4">
                    Ready to Get Started?
                </h2>

                <p class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold text-white mb-8">
                    Launch Your Project with Us
                </p>

                <a routerLink="/contacts/v2" class="mb-6 inline-block w-auto text-center bg-primary text-white py-3 px-8 font-bold rounded-lg transition-all hover:bg-primary-hover">
                    Work with us
                </a>
            </div>
        </div>
    </section>