<div class="container lg:py-12 py-8 md:mt-0 mt-16">
    <nav aria-label="breadcrumb">
        <ol class="flex flex-wrap items-center gap-2 text-white text-sm">
            <li>
                <a routerLink="/" class="flex items-center gap-1.5 text-default-600 font-semibold hover:text-black transition-all">
                    <lucide-icon name="house" class="size-4.5"></lucide-icon>Home
                </a>
            </li>
            <lucide-icon name="chevrons-right" class="size-4 text-default-600"></lucide-icon>
            <li class="text-primary font-semibold">About v.2</li>
        </ol>
    </nav>
</div>