<section class="lg:py-24 md:py-18 py-10">
    <div class="container">
        <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
            <div class="lg:col-span-7">
                <div class="lg:pe-8">
                    <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold mb-6">About</h2>
                    <p class="text-lg"> Lacinia pulvinar at diam, urna, non blandit. Cras id enim tortor nascetur. Cursus ante eu nam ut non vestibulum sem. Ullamcorper quis varius eu, vel. Sagittis ut suspendisse et, nec. Parturient eu iaculis sit dolor, erat mauris. Leo at egestas aliquet duis pellentesque amet. Proin mattis ac ornare malesuada sed. Diam libero tortor suspendisse molestie non duis enim. Lectus pulvinar euismod et risus egestas. Cursus porttitor id faucibus eu vestibulum. Eu blandit faucibus nulla adipiscing amet ullamcorper.</p>
                </div>
            </div>

            <div class="lg:col-span-5 lg:col-start-9 lg:border-s border-default-200 dark:border-white/14 lg:ps-8">
                <div>
                    <h3 class="text-xl font-extrabold flex gap-2 items-center mb-4">
                        <lucide-icon name="circle-question-mark" class="text-primary size-5"></lucide-icon>
                        Challenge
                    </h3>
                    <p class="mb-10">
                        Ultricies massa iaculis vestibulum egestas vestibulum, cursus. Leo non arcu ultricies senectus a purus sed.
                    </p>

                    <h3 class="text-xl font-extrabold flex gap-2 items-center mb-4">
                        <lucide-icon name="lightbulb" class="text-primary size-5"></lucide-icon>
                        Solution
                    </h3>
                    <p> Sit tellus id proin viverra iaculis pellentesque ornare. Diam augue sit feugiat porttitor leo, fusce vel ac. Placerat vulputate quisque.</p>
                </div>
            </div>
        </div>
    </div>
</section>