<section class="relative md:pt-12 pt-10 lg:mb-32 mb-8 bg-[#151922] text-white">
    <div class="container lg:pt-20 pt-14 pb-6">
        <nav>
            <ol class="flex flex-wrap items-center gap-2 font-medium text-default-500 text-sm">
                <li>
                    <a routerLink="/" class="flex items-center gap-1.5 text-white/60 font-semibold hover:text-white transition-all">
                        <lucide-icon name="house" class="size-4.5"></lucide-icon>Home
                    </a>
                </li>
                <lucide-icon name="chevrons-right" class="size-4 text-white/60 hover:text-white"></lucide-icon>
                <li class="text-white font-bold">Contacts v.1</li>
            </ol>
        </nav>

        <div class="flex justify-center md:pt-6 pt-8">
            <div class="lg:w-2xl w-md mx-auto text-center">
                <h1 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold mb-6 text-white">Get in Touch</h1>
                <p class="text-default-300 dark:text-white/60 text-lg pb-3 mb-6">
                    Have a project in mind? To request a quote contact us directly or fill out the form and let us know how we can help.
                </p>

                <div class="flex justify-center space-x-3">
                    <a [routerLink]="[]" class="flex items-center justify-center size-11 rounded-full bg-white/5 hover:bg-blue-500 transition-all" aria-label="Facebook">
                        <lucide-icon name="facebook" class="fill-white/80 text-white/80 size-4 group-hover:fill-white group-hover:text-white"></lucide-icon>
                    </a>

                    <a [routerLink]="[]" class="flex items-center justify-center size-11 rounded-full bg-white/5 hover:bg-indigo-500 transition-all" aria-label="instagram">
                        <lucide-icon name="instagram" class="text-white/80 size-4 group-hover:text-white"></lucide-icon>
                    </a>

                    <a [routerLink]="[]" class="flex items-center justify-center size-11 rounded-full bg-white/5 hover:bg-danger transition-all" aria-label="chromium">
                        <iconify-icon icon="tabler:brand-google-filled" class="text-white/80 size-4 group-hover:text-white"></iconify-icon>
                    </a>

                    <a [routerLink]="[]" class="flex items-center justify-center size-11 rounded-full bg-white/5 hover:bg-sky-500 transition-all" aria-label="instagram">
                        <lucide-icon name="twitter" class="fill-white/80 text-white/80 size-4 group-hover:fill-white group-hover:text-white"></lucide-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bottom Shape -->
    <div class="absolute top-full start-0 w-full overflow-hidden -mt-5 text-[#151922]">
        <div class="relative start-1/2 -translate-x-1/2 flex-shrink-0 -mt-5 md:-mt-3 lg:-mt-1 w-[3788px]">
            <svg xmlns="http://www.w3.org/2000/svg" width="3788" class="lg:h-36 h-18" viewBox="0 0 3788 144">
                <path fill="currentColor" d="M0,0h3788.7c-525,90.2-1181.7,143.9-1894.3,143.9S525,90.2,0,0z"></path>
            </svg>
        </div>
    </div>
</section>