<section class="md:py-20 py-14">
    <div class="bg-secondary dark:bg-white/4 md:pb-16 pb-8">
        <div class="container">
            <div class="grid lg:grid-cols-12 grid-cols-1 lg:items-center gap-8">
                <div class="lg:col-span-6 -mt-20 mx-auto">
                    <div class="swiper-tabs flex flex-col gap-4 max-w-131.25 mx-auto">
                        @for (image of ctaImagesData; track image.id) {
                        <div [id]="'image-' + ($index + 1)" class="swiper-tab cursor-pointer rounded-md overflow-hidden">
                            <img [src]="image.src" [alt]="image.alt" class="w-full">
                        </div>
                        }
                    </div>
                </div>

                <div class="lg:col-span-6 lg:ms-5 lg:w-lg md:w-2xl md:mx-auto">
                    <div class="flex gap-4 lg:justify-start justify-center mb-8">
                        <button type="button" id="prev-screen" aria-label="Previous" class="flex items-center justify-center size-9 rounded-full text-black dark:text-white bg-white dark:bg-white/5 shadow-custom hover:bg-primary hover:text-white transition-all duration-300">
                            <iconify-icon icon="lucide:chevron-left" class="text-lg font-extrabold"></iconify-icon>
                        </button>
                        <button type="button" id="next-screen" aria-label="Next" class="flex items-center justify-center size-9 rounded-full text-black dark:text-white bg-white dark:bg-white/5 shadow-custom hover:bg-primary hover:text-white transition-all duration-300">
                            <iconify-icon icon="lucide:chevron-right" class="text-lg font-extrabold"></iconify-icon>
                        </button>
                    </div>
                    <div #workSwiper class="swiper content-swiper">
                        <div class="swiper-wrapper">
                            @for (slide of ctaSlidesData; track $index) {
                            <div  [attr.data-swiper-tab]="'#'  + slide.imageId" class="swiper-slide text-center lg:text-start lg:pb-6 pb-10">
                                <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold mb-6" [innerHTML]="slide.title"></h2>
                                <p class="lg:mb-12 mb-8">{{ slide.description }}</p>
                                <a [routerLink]="[]" [class]="slide.buttonClass">{{ slide.buttonText }}</a>
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>