 <section class="lg:py-12 py-6">
        <div class="container">
            <div class="grid md:grid-cols-12 grid-cols-1 lg:gap-0 md:gap-6 gap-10 items-center">
                <div class="lg:col-span-5 md:col-span-6 md:text-start text-center">
                    <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold lg:mb-8 mb-6 lg:w-lg">Explore Opportunities with Silicon App</h2>
                    <p class="lg:pb-14 pb-8 border-b border-default-200 dark:border-white/14">In blandit luctus proin mauris a commodo, dolor diam tempus, aenean magna fusce eu. Id porttitor aliquam eget aliquet sagittis eu aut diam ut phasellus sed convallis iaculis neque ultricies convallis sed enim.</p>

                    <div class="lg:pt-12 pt-6 grid grid-cols-2 lg:gap-0 gap-8">
                        <div>
                            <div class="lg:text-[64px] md:text-5xl text-4xl font-extrabold mb-1 text-default-900">
                                23%</div>
                            <p>Nulla venenatis everys</p>
                        </div>
                        <div class="md:text-start text-center">
                            <div class="lg:text-[64px] md:text-5xl text-4xl font-extrabold mb-1 lg:text-center md:text-start text-default-900">
                                132b</div>
                            <p class="lg:text-end">Dictum in marko elementum</p>
                        </div>
                    </div>
                </div>

                <div class="lg:col-span-7 md:col-span-6">
                    <div class="relative aspect-square ms-auto lg:w-137.5 md:w-92 pointer-events-none">
                        <div class="absolute z-20">
                            <img src="assets/img/landing/saas-3/feature-2/avatars.png" alt="Avatar" />
                        </div>

                        <div class="absolute inset-0 flex items-center justify-center">
                            <div class="rounded-full bg-primary size-7/10 opacity-6"></div>
                        </div>

                        <div class="absolute inset-0 flex items-center justify-center">
                            <div class="rounded-full bg-primary size-11/20 opacity-6"></div>
                        </div>

                        <div class="absolute inset-0 flex items-center justify-center z-30">
                            <div class="flex items-center justify-center rounded-full bg-primary size-23.25 shadow-[0_3px_30px_-2px_rgba(99,102,241,0.95)]">
                                <span class="text-lg font-semibold text-white">400K+</span>
                            </div>
                        </div>

                        <div class="absolute inset-0 flex items-center justify-center">
                            <div class="rounded-full bg-primary size-2/5 opacity-6"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>