<section class="lg:py-24 md:py-16 py-14">
  <div class="container">
    <div class="lg:mb-8 mb-5 text-center lg:w-3xl md:w-lg mx-auto">
      <h2 class="mb-6 lg:text-[40px] md:text-[33px] text-[28px] font-extrabold">
        Integrate Top Work Tools
      </h2>
      <p class="text-lg">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam
        luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.
      </p>
    </div>

    <div class="swiper">
      <swiper-container [config]="swiperConfig" init="false">
        @for (item of brandData; track $index) {
        <swiper-slide class="px-3 py-3 lg:mb-6 mb-10">
          <a [routerLink]="[]" class="size-35 flex justify-center items-center shadow-custom rounded-md hover:transform hover:-translate-y-1 transition duration-200 bg-white dark:bg-white/3">
            <img [src]="item" alt="Logo" />
          </a>
        </swiper-slide>
        }
      </swiper-container>
      <div id="toolspagination" class="swiper-pagination position-relative pt-3 mt-4"></div>
    </div>

    <div class="flex justify-center lg:mt-0 mt-6">
      <a [routerLink]="[]" class="inline-block bg-primary text-white py-2.5 px-7 font-bold text-sm rounded-md transition-all hover:bg-primary-hover">View all integrations
      </a>
    </div>
  </div>
</section>