<div class="container lg:pt-32 md:pt-24 pt-20 lg:pb-10 pb-6">
    <nav>
        <ol class="flex flex-wrap items-center gap-2 text-default-500 text-sm">
            <li>
                <a routerLink="/" class="flex items-center gap-1.5 text-default-500 dark:text-white/50 font-semibold hover:text-default-900 transition-all">
                    <lucide-icon name="house" class="size-4.5"></lucide-icon>Home
                </a>
            </li>
            <lucide-icon name="chevrons-right" class="size-4 text-default-500 dark:text-white/50"></lucide-icon>
            <li class="text-primary font-bold">Services v.2</li>
        </ol>
    </nav>
</div>

<div class="container mb-10">
    <h1 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold">Services v.2</h1>
</div>