<section class="pt-8 md:pb-10 pb-4">
    <div class="container">
        <h1 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold mb-8 lg:w-4xl">This Long-Awaited Technology May Finally Change the World</h1>
        <div class="md:flex items-center md:justify-between">
            <div class="flex items-center divide-x divide-default-200 dark:divide-white/14 md:mb-0 mb-6">
                <div class="pe-3">
                    <a [routerLink]="[]" class="px-2 py-0.5 font-semibold bg-secondary dark:bg-white/4 text-primary rounded">Technology</a>
                </div>
                <div class="divide-x divide-default-200 dark:divide-white/14 flex items-center text-default-400 dark:text-white/60">
                    <div>
                        <p class="text-sm px-4">12 hours ago</p>
                    </div>
                    <div class="flex items-center gap-4 text-sm ps-4">
                        <div class="flex items-center gap-1">
                            <lucide-icon name="thumbs-up" class="size-4"></lucide-icon>
                            <span>8</span>
                        </div>
                        <div class="flex items-center gap-1">
                            <lucide-icon name="message-square" class="size-4"></lucide-icon>
                            <span>4</span>
                        </div>
                        <div class="flex items-center gap-1">
                            <lucide-icon name="share-2" class="size-4"></lucide-icon>
                            <span>2</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex items-center gap-3">
                <img src="assets/img/avatar/39.jpg" class="rounded-full size-15" alt="Avatar">
                <div>
                    <h6 class="mb-1 font-extrabold">Author</h6>
                    <a [routerLink]="[]" class="text-primary hover:text-primary-hover underline font-bold">Albert Flores</a>
                </div>
            </div>
        </div>
    </div>
</section>