<section class="lg:pb-24 md:pb-14 pb-8">
    <div class="container">
        <div class="grid md:grid-cols-2 grid-cols-1 lg:gap-0 gap-6">
            <div class="group">
                <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17239.8060668495!2d-122.43668227971098!3d37.741526659411576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808f7e1259a3ed73%3A0xaae7371cd8db1e38!2sNoe%20Valley%20Bakery!5e0!3m2!1sen!2sua!4v1637757959377!5m2!1sen!2sua" data-iframe="true" class="relative block rounded-lg overflow-hidden shadow-custom group" data-sub-html="<h6 class='text-sm text-white'>Noe Valley Bakery 24th Street, San Francisco, CA, USA</h6>" data-lg-id="cf2bf332-a67c-49a2-b8f5-cd9f1015154f">
                    <img src="assets/img/landing/medical/map.jpg" alt="Map cover" class="w-full h-auto rounded-lg">
                    <iconify-icon icon="tabler:map-pin-filled" class="text-blue-600 md:text-5xl text-4xl absolute top-1/2 start-1/2 -translate-x-1/2 -translate-y-1/2 z-10"></iconify-icon>
                    <div class="absolute inset-0 bg-black/50 opacity-0 group-hover:opacity-100 transition">
                        <div class="p-4">
                            <p class="text-white text-sm font-medium">Expand the map</p>
                        </div>
                        <div class="absolute top-1/2 start-1/2 transform -translate-x-1/2 -translate-y-1/2 scale-20 group-hover:scale-110 transition duration-300 z-80">
                            <iconify-icon icon="lucide:zoom-in" class="text-white text-[28px] mb-2"></iconify-icon>
                        </div>
                    </div>
                </a>
            </div>
            <div class="lg:w-lg lg:ms-auto w-xs">
                <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold lg:mb-10 mb-7">Get Free Professional Consultation</h2>
                <ul class="space-y-4 mb-8">
                    <li class="flex items-start gap-2">
                        <div>
                            <iconify-icon icon="lucide:map-pin" class="text-lg mt-1"></iconify-icon>
                        </div>
                        <span>Noe Valley Bakery 24th Street, San Francisco, CA, USA</span>
                    </li>

                    <li class="flex items-start gap-2">
                        <div>
                            <iconify-icon icon="lucide:phone-call" class="text-lg mt-1"></iconify-icon>
                        </div>
                        <span>(406) 555-0120</span>
                    </li>

                    <li class="flex items-start gap-2">
                        <div>
                            <iconify-icon icon="lucide:clock-3" class="text-lg mt-1"></iconify-icon>
                        </div>
                        <div>
                            <div><span class="text-default-900 font-bold me-2">Mon – Fri:</span> 9:00 am – 22:00 pm</div>
                            <div><span class="text-default-900 font-bold me-2">Sat – Sun:</span> 9:00 am – 20:00 pm</div>
                        </div>
                    </li>

                    <li class="flex items-start gap-2">
                        <div>
                            <iconify-icon icon="lucide:mail" class="text-lg mt-1"></iconify-icon>
                        </div>
                        <span>example@email.com</span>
                    </li>
                </ul>
                <a [routerLink]="[]" class="inline-block w-auto text-center bg-primary  text-white py-3.5 px-8 font-bold hover:!shadow-none rounded-md transition-all hover:bg-primary-hover">Make an appointment</a>
            </div>
        </div>
    </div>
</section>