<section class="relative md:h-174 h-100 bg-cover bg-center bg-fixed bg-[url('assets/img/blog/single/cover-image.jpg')]"></section>

<section class="lg:py-20 md:py-12 py-10">
    <div class="container">
        <div class="grid lg:grid-cols-4 grid-cols-1">
            <div class="lg:col-span-3">
                <h3 class="text-lg md:text-xl font-bold mb-8">
                    Est quis sit phasellus proin proin fringilla eu quis. Placerat praesent blandit urna eu pellentesque dictum. Aliquam duis quam interdum quis. Urna, rutrum aenean lacus phasellus. Ipsum, ac porttitor lacus orci, cras lacus, quis leo.
                </h3>

                <h2 class="text-2xl font-extrabold mb-4">Paragraph Title</h2>
                <p class="mb-8">
                    Purus ornare nisl est nec. Nunc, enim tellus pretium viverra quisque id in metus volutpat. Urna eget velit venenatis, commodo eget massa. Magna donec dictum cras nullam platea. Diam rhoncus massa lectus pellentesque tristique. Amet commodo, egestas vitae bibendum. Volutpat elit condimentum integer tortor porttitor justo vel lobortis risus. Lacinia pellentesque fermentum tellus orci mauris, velit duis eget. Commodo justo, hac ligula molestie felis, iaculis. Vitae dui at ante orci, dictum fusce. Urna, sed urna fringilla faucibus euismod aliquet nec. Quis libero, fermentum amet eu, condimentum auctor. Sit vel ipsum sem tempus gravida et. Scelerisque blandit orci, est quis. Nisi, tellus amet est nascetur habitant faucibus ornare et vivamus.
                </p>

                <div class="mb-8" data-video="true">
                    <lightgallery [settings]="settings">
                        <a href="https://www.youtube.com/watch?v=LDb-G8y88Sc" class="block relative overflow-hidden rounded-lg group" aria-label="Video inside blog post">
                            <img src="assets/img/blog/single/video-cover.jpg" alt="Video preview" class="w-full h-auto">
                            <div class="absolute inset-0 bg-black/40 flex items-center justify-center">
                                <div class="absolute size-18 bg-white group-hover:bg-primary transition-all flex items-center justify-center rounded-full">
                                    <lucide-icon name="play" class="fill-dark text-dark group-hover:fill-white group-hover:! group-hover:text-white size-4.5"></lucide-icon>
                                </div>
                            </div>
                        </a>
                    </lightgallery>
                </div>

                <p class="mb-8">
                    Tempor donec aliquam est, a. Sit arcu tellus pharetra, bibendum hendrerit arcu, sed. Scelerisque dui enim libero sit ac sed lacus lectus. Quam in iaculis scelerisque feugiat nibh mi. Maecenas posuere lobortis praesent iaculis sagittis. Egestas vel at praesent ipsum pretium faucibus adipiscing gravida feugiat. Lacus, rhoncus velit at non nunc, quam urna, phasellus facilisis. Cursus elit posuere amet tortor at. Mi tristique congue vulputate eget in pellentesque tincidunt. In viverra est id nibh. Nunc tellus ultrices magna turpis. Viverra est morbi posuere dapibus nisi habitasse. Id tristique cursus vel metus.
                </p>

                <figure class="relative mb-6 ps-10">
                    <span class="absolute top-0 start-0 w-1 h-full bg-primary"></span>
                    <blockquote class="text-xl font-semibold text-default-900">
                        <p class="mb-4">
                            Sollicitudin eget massa, elementum, purus nec fermentum vitae, elementum. Tincidunt vulputate lorem cursus id. Dictum tincidunt mi ornare tristique. Id sit elit pulvinar eu. Tempus vel, mauris sed proin aliquet vulputate cras est. Ut ornare eget a viverra.
                        </p>
                    </blockquote>
                    <figcaption class="flex items-center pt-3">
                        <img src="assets/img/avatar/04.jpg" width="48" class="rounded-full" alt="Jane Cooper">
                        <div class="ps-3">
                            <h6 class="font-bold mb-0">Jane Cooper</h6>
                            <span class="text-sm text-default-500">CEO of Ipsum Company</span>
                        </div>
                    </figcaption>
                </figure>

                <p class="mb-6">
                    Pellentesque laoreet neque ut dictumst fames scelerisque. In malesuada orci dapibus risus tellus, amet, ultrices sagittis a. Turpis vel tincidunt tristique maecenas cursus tortor, suscipit ut. Ullamcorper at faucibus dolor tortor suspendisse suscipit senectus convallis aliquam. At orci amet facilisi nunc mi vitae iaculis diam a. Mauris venenatis sed purus cursus torte.
                </p>

                <h2 class="text-2xl font-extrabold mb-4">Paragraph Title 2</h2>
                <p class="mb-6">
                    Praesent sed pulvinar posuere nisl tincidunt. Iaculis sit quam magna congue. Amet vel non aliquet habitasse. Egestas erat odio et, eleifend turpis etiam blandit interdum. Nec augue ut senectus quisque diam quis. At augue accumsan, in bibendum. A eget et, eget quisque egestas netus vel. Velit, aliquet turpis convallis ullamcorper. Scelerisque sagittis condimentum pretium in vitae etiam lacinia quis amet. Porttitor consequat, sollicitudin vivamus pharetra nibh faucibus neque, viverra. Praesent amet sed lacus vitae.
                </p>

                <h4 class="text-base font-extrabold flex items-center gap-2 mb-4">
                    <lucide-icon name="circle-plus" class="text-primary size-5"></lucide-icon> PROS
                </h4>
                <ul class="list-disc list-inside mb-6 space-y-1">
                    <li>A eu, ac nunc, volutpat. Augue enim ac justo, at elementum, arcu.</li>
                    <li>At sodales quam felis ullamcorper iaculis tristique. Felis, etiam felis pellentesque sit neque.</li>
                    <li>Porta ipsum quis lacus eu ipsum mattis sit quis. Massa, massa lectus porttitor laoreet ultricies odio fermentum arcu quam.</li>
                    <li>Accumsan arcu neque, nisl, pellentesque fames justo consequat blandit lacus. Eget odio vel nulla vel.</li>
                    <li>Diam ac phasellus est, eu urna purus blandit aliquam. Vitae accumsan et pellentesque diam in.</li>
                    <li>Tellus arcu, lectus tincidunt neque nunc. Bibendum lacus, molestie ultrices sed arcu.</li>
                </ul>

                <h4 class="text-base font-extrabold flex items-center gap-2 mb-4">
                    <lucide-icon name="circle-minus" class="text-primary size-5"></lucide-icon>CONS
                </h4>
                <ul class="list-disc list-inside mb-6 space-y-1">
                    <li>Donec maecenas justo, et tortor quam elementum pharetra velit. Auctor dictum purus sollicitudin et quam vehicula amet lacus, integer.</li>
                    <li>Mi elit nibh erat facilisis. Volutpat eget malesuada mi in.</li>
                    <li>Tincidunt iaculis eleifend arcu egestas. Sit gravida vestibulum quam scelerisque.</li>
                    <li>Ornare elit, vel, ullamcorper nunc nulla pellentesque ut varius. Vitae tortor nulla a turpis erat fermentum, rhoncus.</li>
                    <li>Gravida cursus nunc habitant aliquet lacus. Tempus, interdum nullam non quam ipsum ultricies ac.</li>
                </ul>

                <h2 class="text-2xl font-extrabold mb-4">Conclusion</h2>
                <p class="mb-6">
                    Venenatis faucibus platea gravida amet sed sed urna volutpat. Aliquam neque, mi, justo odio semper. Egestas potentiquis neque nunc, rhoncus hendrerit. Viverra gravida pretium dolor eget placerat morbi proin eget. Vestibulum vitae ultrices vel sed sit quis. Ac quis diam at nulla libero. Turpis duis magna tellus condimentum.
                </p>
                <p class="mb-6">
                    Velit parturient tellus tellus, congue pulvinar tellus viverra. In cum massa mattis ac. Amet vitae massa ut mi etiam. Auctor aliquam tristique felis donec eu sit nisi. Accumsan mauris eget convallis mattis sed etiam scelerisque.
                </p>

                <hr class="border-default-300 dark:border-white/14 mb-4">
                <div class="md:flex justify-start md:items-center pt-3 mb-6">
                    <h6 class="font-extrabold mb-3 md:mb-0 md:me-2 whitespace-nowrap">
                        Related Tags:
                    </h6>
                    <div class="flex flex-wrap gap-2">
                        <a [routerLink]="[]" class="px-4 py-2 text-xs border border-default-300 font-semibold text-default-800 rounded hover:bg-default-200 hover:border-default-100">#lifestyle</a>
                        <a [routerLink]="[]" class="px-4 py-2 text-xs border border-default-300 font-semibold text-default-800 rounded hover:bg-default-200 hover:border-default-100">#tech</a>
                        <a [routerLink]="[]" class="px-4 py-2 text-xs border border-default-300 font-semibold text-default-800 rounded hover:bg-default-200 hover:border-default-100">#business</a>
                    </div>
                </div>
            </div>

            <div class="lg:col-span-1 relative lg:mx-2xl lg:mx-auto">
                <div class="sticky top-4">
                    <span class="mb-4 block">5 min read</span>
                    <h6 class="font-extrabold mb-4">Share this post:</h6>

                    <div class="flex gap-2 md:mb-10 mb-6">
                        <a [routerLink]="[]" class="size-11 rounded-md bg-secondary dark:bg-white/4 hover:text-white text-default-600 hover:bg-cyan-600 flex justify-center items-center transition-all">
                            <iconify-icon icon="tabler:brand-linkedin-filled" class="text-lg"></iconify-icon>
                        </a>
                        <a [routerLink]="[]" class="size-11 rounded-md bg-secondary dark:bg-white/4 hover:text-white text-default-600 hover:bg-blue-500 flex justify-center items-center transition-all">
                            <iconify-icon icon="tabler:brand-facebook-filled" class="text-lg"></iconify-icon>
                        </a>
                        <a [routerLink]="[]" class="size-11 rounded-md bg-secondary dark:bg-white/4 hover:text-white text-default-600 hover:bg-sky-500 flex justify-center items-center transition-all">
                            <iconify-icon icon="tabler:brand-twitter-filled" class="text-lg"></iconify-icon>
                        </a>
                        <a [routerLink]="[]" class="size-11 rounded-md bg-secondary dark:bg-white/4 hover:text-white text-default-600 hover:bg-indigo-500 flex justify-center items-center transition-all">
                            <iconify-icon icon="tabler:brand-instagram" class="text-lg"></iconify-icon>
                        </a>
                    </div>

                    <div class="border border-default-200 dark:border-white/14 inline-flex text-default-700 hover:bg-default-200 transition-all font-bold rounded-md px-8 py-3 items-center gap-2.5">
                        <lucide-icon name="thumbs-up" class="text-default-700 size-6"></lucide-icon>Like it
                        <span class="size-6 bg-primary text-xs rounded font-semibold flex justify-center items-center text-white ms-1">8</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>