<section class="bg-dark lg:pt-24 md:pt-18 pt-14">
        <div class="container">
            <div class="flex flex-col lg:gap-y-18 gap-y-10">
                <div class="grid md:grid-cols-2 lg:gap-24 md:gap-12 gap-y-6 items-start">
                    <div class="text-start">
                        <h2 class="lg:text-[40px] md:text-[33px] text-[28px] text-white">The main advantage of our app is the combination of <span class="text-warning">simplicity</span> and <span class="text-warning">functionality</span></h2>
                    </div>
                    <div>
                        <p class="text-xl text-white/70">Unlike other financial management tools that can be overwhelming with complicated features and confusing interfaces, our app provides a streamlined approach that is easy to use and understand. But simplicity should ever compromise functionality.</p>
                    </div>
                </div>
                <div class="relative bg-white/10 overflow-hidden p-3 rounded-4xl">
                    <div class="relative rounded-2xl overflow-hidden">
                        <span class="absolute top-0 start-0 size-full z-10 opacity-90 bg-[radial-gradient(circle,rgba(11,15,25,0)_0%,rgba(8,11,18,1)_70%)]"></span>
                        <img src="assets/img/landing/app-showcase-3/video-cover.jpg" class="opacity-75 w-full object-cover" alt="Video cover">

                        <div class="absolute md:top-1/2 lg:start-135 md:start-70 top-26 start-18 -translate-y-1/2 z-20 text-center">
                            <lightgallery [settings]="settings" class="flex justify-center">
                                <a href="https://www.youtube.com/watch?v=6AzbQhiX4tg" class="flex items-center justify-center size-16 md:w-18 md:h-18 transition duration-200 rounded-full bg-white shadow-custom text-dark hover:bg-primary hover:text-white hover:shadow-priamry/50 mb-4" aria-label="Play video">
                                    <iconify-icon icon="tabler:player-play-filled" width="20" height="20"></iconify-icon>
                                </a>
                            </lightgallery>
                            <div class="text-lg text-white font-extrabold">Watch video</div>
                            <div class="text-white text-sm whitespace-nowrap">See how our app is different</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>