<section class="lg:py-20 md:py-14 py-12">
    <div class="container">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-10">
            <div>
                <div class="flex flex-col h-full shadow-sm rounded-xl overflow-hidden">
                    <iframe class="block size-full min-h-75" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5020.057277316842!2d-122.40737351959179!3d37.73986147046842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd5ce6be90058bc85!2sOur%20Planet%20Recycling%20S.F.!5e0!3m2!1sen!2sua!4v1653946944869!5m2!1sen!2sua" allowfullscreen="" loading="lazy" title="Map"></iframe>
                </div>
            </div>

            <div class="lg:w-lg lg:ms-auto">

                @for (center of medicalCentersData; track $index) {

                <div [class.lg:mb-12]="$last === false">

                    <h2 class="md:text-2xl text-xl font-extrabold mb-6">
                        {{ center.title }}
                    </h2>

                    <ul class="space-y-4" [class.mb-8]="true">

                        <li class="flex items-start gap-2">
                            <div>
                                <lucide-icon name="map-pin" class="text-primary size-5 mt-1"></lucide-icon>
                            </div>
                            <span>{{ center.address }}</span>
                        </li>

                        <li class="flex items-start gap-2">
                            <div>
                                <lucide-icon name="phone-call" class="text-primary size-5 mt-1"></lucide-icon>
                            </div>
                            <span>{{ center.phone }}</span>
                        </li>

                        <li class="flex items-start gap-2">
                            <div>
                                <lucide-icon name="clock-3" class="text-primary size-5 mt-1"></lucide-icon>
                            </div>

                            <div>
                                @for (timing of center.timings; track $index) {
                                <div>
                                    <span class="text-default-900 font-bold me-2">
                                        {{ timing.days }}
                                    </span>

                                    {{ timing.time }}
                                </div>
                                }
                            </div>
                        </li>

                    </ul>
                </div>
                }


                <div class="flex items-center gap-4">
                    @for (social of socialLinksData; track $index) {
                    <a [routerLink]="[]" [attr.aria-label]="social.ariaLabel" class="flex items-center justify-center group size-11 rounded-md bg-secondary dark:bg-white/4 transition" [class]="social.hoverClass">
                        <lucide-icon [name]="social.icon" [class]="social.iconClass"></lucide-icon>
                    </a>
                    }
                </div>
            </div>
        </div>
    </div>
</section>