<section class="bg-secondary dark:bg-white/4 lg:py-24 md:py-18 py-12">
    <div class="container">
        <div class="grid md:grid-cols-3 lg:gap-8">
            <div class="md:col-span-1">
                <div class="md:block hidden relative h-80 md:h-full rounded-md overflow-hidden">
                    <div class="absolute inset-0 bg-cover object-cover lg:bg-top bg-center bg-[url('assets/img/testimonials/03.jpg')]"></div>
                </div>
            </div>

            <div class="md:col-span-2">
                <figure class="relative bg-white dark:bg-white/4 rounded-md shadow-custom p-6 lg:p-10 mt-6 md:mt-0 md:ms-8">
                    <span class="absolute -top-6 start-8 flex items-center justify-center size-13 bg-primary text-white rounded-md ">
                        <lucide-icon name="quote" class="fill-white size-5"></lucide-icon>
                    </span>

                    <blockquote class="mt-4">
                        <p class="text-lg"> Dolor, a eget elementum, integer nulla volutpat, nunc, sit. Quam iaculis varius mauris magna sem. Egestas sed sed suscipit dolor faucibus dui imperdiet at eget. Tincidunt imperdiet quis hendrerit aliquam feugiat neque cras sed. Dictum quam integer volutpat tellus, faucibus platea. Pulvinar turpis proin faucibus at mauris.</p>
                    </blockquote>

                    <figcaption class="mt-6 flex flex-col md:flex-row md:items-center">
                        <div class="flex items-center md:border-e border-default-200 md:pe-6 md:me-6">
                            <div class="flex items-center gap-2">
                                <img src="assets/img/avatar/05.jpg" class="size-12 rounded-full md:hidden block" alt="Ralph Edwards">
                                <div>
                                    <h5 class="font-bold text-xl">Ralph Edwards</h5>
                                    <span class="text-sm">Head of Marketing</span>
                                </div>
                            </div>
                        </div>
                        <img src="assets/img/brands/02.svg" alt="Company logo" class="w-40 mt-4 md:mt-0 md:ms-0 ms-10">
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>