    <section>
        <div class="container -mt-39 mb-40 transform translate-y-39">
            <div class="bg-[linear-gradient(90deg,#6366f1_0%,#8b5cf6_50%,#d946ef_100%)] rounded-md">
                <div class="md:p-12 p-6 bg-cover bg-[url('assets/img/landing/digital-agency/contact-bg.png')]">
                    <div class="py-12 md:w-xl mx-auto text-center">
                        <h3 class="mb-4 md:text-2xl text-xl text-white font-normal">Want to work with us? Let's talk</h3>
                        <a href="mailto:email@example.com" class="lg:text-[40px] md:text-[33px] text-[28px] text-white font-extrabold underline">email@example.com</a>
                        <div class="md:mt-12 mt-6">
                            <a [routerLink]="[]" class="md:w-auto lg:ms-6 md:ms-4 md:mt-0 mt-4 px-8 py-3.5 bg-light hover:bg-light-hover text-dark transition-all duration-300 font-bold rounded-md">
                                Contact Us
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>