<section class="relative z-20 md:pt-28 lg:pb-28 md:pb-0 pt-24 pb-0">
  <div class="container">
    <div class="grid lg:grid-cols-12 grid-cols-1 gap-y-6 items-center">
      <div class="lg:col-span-5 lg:pt-24 pt-8">
        <div class="lg:w-lg lg:mb-24 mb-12 text-center lg:text-start">
          <h1
            class="lg:text-[56px] md:text-[45px] text-[33px] font-extrabold mb-6"
          >
            Task Management Assistant You Gonna Love
          </h1>

          <p class="text-lg lg:mb-12 mb-6">
            We offer you a new generation of task management system. Plan,
            manage & track all your tasks in one flexible tool.
          </p>

          <a
            [routerLink]="[]"
            class="inline-block bg-primary text-white py-3.5 px-8 font-bold rounded-md transition-all hover:bg-primary-hover"
          >
            Get started for free
          </a>
        </div>

        <div>
          <h6
            class="lg:mb-10 mb-8 text-center lg:text-start font-extrabold"
          >
            Largest companies use our tool to work efficiently
          </h6>

          <div class="flex justify-center lg:justify-start gap-2">
            @for (item of companyLogoData; track $index) {
              <a [routerLink]="[]" class="block">
                <img
                  [src]="item"
                  class="w-33.5"
                  alt="Logo"
                />
              </a>
            }
          </div>
        </div>
      </div>

      <div
        class="lg:col-span-7 lg:absolute lg:-end-60 lg:top-2 md:top-144 top-152"
      >
        <div
          class="relative"
          appParallax
          [parallaxScale]="6"
        >
          @for (item of heroParallaxLayerData; track $index) {
            <div
              class="absolute inset-0 will-change-transform transition-transform duration-200 ease-out"
              [class.z-20]="$index !== 0"
              [attr.data-depth]="item.depth"
            >
              <img
                [src]="item.image"
                alt="Layer"
              />
            </div>
          }

          <!-- Base image height maintain -->
          <img
            [src]="heroParallaxLayerData[0].image"
            alt="Layer"
            class="opacity-0 pointer-events-none"
          />
        </div>
      </div>
    </div>
  </div>
</section>