<section class="lg:pb-24 md:pb-18 pb-10">
    <div class="container">
        <div class="text-center lg:mb-10 md:mb-8 mb-6">
            <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold">More Silicon Features</h2>
        </div>
        <div class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-1 md:gap-10 gap-y-8">
            @for (item of moreFeaturesData; track $index){
            <div class="h-full">
                <div class="size-15 flex items-center justify-center rounded-md bg-secondary dark:bg-white/4">
                    <iconify-icon [icon]="item.icon" class="text-primary" height="32" width="32">
                    </iconify-icon>
                </div>
                <div class="py-6">
                    <h3 class="font-extrabold mb-4">
                        {{ item.title }}
                    </h3>

                    <p class="text-sm">
                        {{ item.description }}
                    </p>
                </div>
            </div>
            }
        </div>
    </div>
</section>