  <section class="lg:pb-24 md:pb-18 pb-10">
        <div class="container">
            <div class="text-center lg:mb-10 md:mb-8 mb-6">
                <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold">More Silicon Features</h2>
            </div>
            <div class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-1 md:gap-10 gap-y-8">
                <div class="h-full">
                    <div class="size-15 flex items-center justify-center rounded-md bg-secondary dark:bg-white/4">
                        <iconify-icon icon="tabler:brand-tailwind" class="text-primary size-8"></iconify-icon>
                    </div>
                    <div class="py-6">
                        <h3 class="font-extrabold mb-4">Built with Tailwind</h3>
                        <p class="text-sm">Silicon is the powerful front-end solution based on Tailwind — the world’s most popular responsive, mobile-first front-end component library.</p>
                    </div>
                </div>

                <div class="h-full">
                    <div class="size-15 flex items-center justify-center rounded-md bg-secondary dark:bg-white/4">
                        <i class="iconify tabler--file-text text-primary size-8"></i>
                    </div>
                    <div class="py-6">
                        <h3 class="font-extrabold mb-4">Detailed Documentation</h3>
                        <p class="text-sm">Download package includes the documentation that covers all crucial information about how to get started, customize template and components usage.</p>
                    </div>
                </div>

                <div class="h-full">
                    <div class="size-15 flex items-center justify-center rounded-md bg-secondary dark:bg-white/4">
                        <i class="iconify tabler--device-mobile text-primary size-8"></i>
                    </div>
                    <div class="py-6">
                        <h3 class="font-extrabold mb-4">Mobile Freindly Interface</h3>
                        <p class="text-sm">It's not a surprise that nowadays over 80% of users surf the inernet using their mobile devices. Silicon is 100% responsive and optimized for small touch screens.</p>
                    </div>
                </div>

                <div class="h-full">
                    <div class="size-15 flex items-center justify-center rounded-md bg-secondary dark:bg-white/4">
                        <i class="iconify tabler--hand-click text-primary size-8"></i>
                    </div>
                    <div class="py-6">
                        <h3 class="font-extrabold mb-4">Touch-Enabled Sliders</h3>
                        <p class="text-sm">In the era of touch screens it's important to ensure great user experience on mobile, especially when it comes to such frequently used interface component as slider.</p>
                    </div>
                </div>

                <div class="h-full">
                    <div class="size-15 flex items-center justify-center rounded-md bg-secondary dark:bg-white/4">
                        <i class="iconify tabler--brand-html5 text-primary size-8"></i>
                    </div>
                    <div class="py-6">
                        <h3 class="font-extrabold mb-4">W3C Valid HTML Code</h3>
                        <p class="text-sm">All HTML files are checked via W3C validator to ensure 100% valid code. As you probably know invalid HTML limits innovation, but Silicon is innovative at its core.</p>
                    </div>
                </div>

                <div class="h-full">
                    <div class="size-15 flex items-center justify-center rounded-md bg-secondary dark:bg-white/4">
                        <i class="iconify tabler--brand-nodejs text-primary size-8"></i>
                    </div>
                    <div class="py-6">
                        <h3 class="font-extrabold mb-4">Kick-Start Your Development</h3>
                        <p class="text-sm">Start your development process fast and easy with Node.js and Gulp setup. Configuration files are included in download package. Full tasks automation.</p>
                    </div>
                </div>

                <div class="h-full">
                    <div class="size-15 flex items-center justify-center rounded-md bg-secondary dark:bg-white/4">
                        <i class="iconify tabler--brand-sass text-primary size-8"></i>
                    </div>
                    <div class="py-6">
                        <h3 class="font-extrabold mb-4">Easy to Customize with Sass</h3>
                        <p class="text-sm">Silicon is built using Sass. Easily change colors, typography and much more. It is the most mature, stable, and powerful CSS extension language in the world.</p>
                    </div>
                </div>

                <div class="h-full">
                    <div class="size-15 flex items-center justify-center rounded-md bg-secondary dark:bg-white/4">
                        <i class="iconify tabler--brand-javascript text-primary size-8"></i>
                    </div>
                    <div class="py-6">
                        <h3 class="font-extrabold mb-4">Future Proof Java-Script</h3>
                        <p class="text-sm">Silicon core scripts as well as all dependencies are written in vanilla JS. And now with Bootstrap 5 we finally drop jQuery and use ES6 modules.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>