<section id="landings" class="lg:py-24 md:py-18 py-10">
    <div class="container">
        <div class="text-center lg:mb-12 md:mb-10 mb-8">
            <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold mb-4">Landing Pages</h2>
            <p class="text-lg">Choose from pre-built layouts of our unique landing pages</p>
        </div>
        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 md:gap-x-6 md:gap-y-12 gap-y-10">
            @for (item of landingPagesData; track item.title) {
            <div class="relative group hover:-translate-y-1.5 transition-all duration-300">
                <img [src]="item.image" [alt]="item.title" class="block border border-default-200 dark:border-white/14 rounded-lg shadow-sm group-hover:shadow-md transition" />

                <h3 class="text-xl font-extrabold mt-6 text-default-900 text-center group-hover:text-primary transition-all duration-300">
                    @if (item.link) {
                    <a [routerLink]="item.link" target="_blank" class="absolute inset-0 z-10">
                    </a>
                    }
                    <span class="relative z-20">
                        {{ item.title }}
                    </span>

                    @if (item.isNew) {
                    <span class="py-0.5 px-2 text-xs bg-success rounded text-white ms-2">
                        New
                    </span>
                    }

                </h3>
            </div>
            }
        </div>
    </div>
</section>