<section>
        <div class="container bg-dark lg:w-full md:w-2xl w-88 border border-white/14 lg:py-24 md:py-14 py-12 px-6 rounded-lg">
            <div class="text-center lg:w-xl md:w-md w-xs mx-auto">
                <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold text-white mb-6">
                    Ready to Get Started?
                </h2>

                <p class="text-lg text-white/70 mb-10">
                    Organize your tasks with a 14-day free trial
                </p>

                <form class="space-y-3 mb-4 md:block hidden">
                    <div class="relative md:flex justify-center">
                        <span class="absolute inset-y-0 start-0 flex items-center ps-3 text-default-500">
                            <iconify-icon icon="tabler:mail" class="text-lg"></iconify-icon>
                        </span>

                        <input type="email" placeholder="Your email" required class="ps-12 pe-4 py-3 border-white/14 w-full border bg-white dark:bg-white/5 focus:ring-white/40 md:rounded-s-lg outline-none">

                        <button type="submit" class="bg-primary hover:bg-primary-hover w-auto text-white px-5 text-nowrap md:rounded-e-lg font-semibold transition">
                            Get started for free
                        </button>
                    </div>
                </form>

                <form class="md:hidden flex flex-col gap-y-4 mb-4">
                    <div class="relative">
                        <span class="absolute inset-y-0 start-0 flex items-center ps-3 text-default-500">
                            <iconify-icon icon="tabler:mail" class="text-lg"></iconify-icon>
                        </span>

                        <input type="email" placeholder="Your email" required class="ps-12 pe-4 py-3 border-white/14 w-full border bg-transparent dark:bg-white/5 focus:ring-white/40 rounded-md  outline-none">
                    </div>

                    <button type="submit" class="bg-primary hover:bg-primary-hover w-full text-white px-5 py-3 text-nowrap rounded-md  f ont-semibold transition">
                        Get started for free
                    </button>
                </form>

                <p class="text-sm text-white/50">
                    No subscriptions. No annual fees. No lock-ins.
                </p>
            </div>
        </div>
    </section>