<section>
    <div class="container">
        <h1 class="border-b border-default-200 pb-6 lg:text-[40px] md:text-[33px] text-[28px] font-extrabold">Who We Are</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 md:gap-10 gap-2 md:mt-8 mt-6">
            <div>
                <p class="text-lg"> Mi semper risus ultricies orci pulvinar in at enim orci. Quis facilisis nunc pellentesque in ullamcorper sit. Lorem blandit arcu sapien, senectus libero, amet dapibus cursus quam. Eget pellentesque eu purus volutpat adipiscing malesuada. Purus nisi, tortor vel lacus. Donec diam molestie ultrices vitae eget pulvinar fames. Velit lacus mi purus velit justo, amet. Nascetur lobortis diam, duis orci. Vitae nibh amet lorem pellentesque. </p>
            </div>

            <div>
                <p class="text-lg"> Ac at sed sit senectus massa. Massa ante amet ultrices magna porta tempor. Aliquet diam in et magna ultricies mi at. Lectus enim, vel enim egestas nam pellentesque et leo. Elit mi faucibus laoreet aliquam pellentesque sed aliquet integer massa. Orci leo tortor ornare id mattis auctor aliquam volutpat aliquet. Odio lectus viverra eu blandit nunc malesuada vitae eleifend pulvinar. In ac fermentum sit in orci. </p>
            </div>
        </div>
    </div>
</section>