<section class="lg:py-18 md:py-14 py-12">
        <div class="container">
            <div class="flex flex-col lg:gap-y-12 md:gap-y-15 gap-y-12">
                <div class="grid grid-cols-1 md:grid-cols-2 items-center lg:gap-x-0 md:gap-x-14 gap-y-8">
                    <div class="order-1 md:order-2 col-span-1">
                        <div class="relative ms-auto lg:w-116">
                            <img src="assets/img/landing/app-showcase-1/features/screen01.png" class="block rellax" alt="Screen">
                            <div class="absolute top-0 end-0 size-full rellax">
                                <img src="assets/img/landing/app-showcase-1/features/screen02.png" alt="Screen">
                            </div>
                        </div>
                    </div>

                    <div class="order-2 md:order-1 col-span-1 flex flex-col gap-y-8 lg:w-lg lg:ms-24">
                        <h2 class="lg:text-[33px] md:text-[28px] text-2xl font-extrabold">Make your money transfer simple and clear</h2>
                        <ul class="flex flex-col gap-y-2 list-none">
                            <li class="flex gap-2 items-center">
                                <iconify-icon icon="tabler:circle-check" class="text-primary" width="20" height="20"></iconify-icon>
                                Banking transactions are free for you
                            </li>
                            <li class="flex gap-2 items-center">
                                <iconify-icon icon="tabler:circle-check" class="text-primary" width="20" height="20"></iconify-icon>
                                No monthly cash commission
                            </li>
                            <li class="flex gap-2 items-center">
                                <iconify-icon icon="tabler:circle-check" class="text-primary" width="20" height="20"></iconify-icon>
                                Manage payments and transactions online
                            </li>
                        </ul>
                        <div>
                            <a [routerLink]="[]" class="inline-flex md:w-auto gap-2 items-center px-7 py-2.5 text-white bg-primary hover:bg-primary-hover transition-all duration-300 text-sm font-bold rounded-lg">
                                Learn more
                                <iconify-icon icon="tabler:arrow-right" class="font-bold" width="16" height="16"></iconify-icon>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-2 items-center lg:gap-x-0 md:gap-x-10 gap-y-8">
                    <div class="col-span-1">
                        <div class="relative lg:w-115 lg:ms-24">
                            <img src="assets/img/landing/app-showcase-1/features/screen03.png" class="block rellax" alt="Screen">
                            <div class="absolute top-0 end-0 size-full rellax">
                                <img src="assets/img/landing/app-showcase-1/features/screen04.png" alt="Screen">
                            </div>
                        </div>
                    </div>

                    <div class="col-span-1 lg:w-lg ms-auto flex flex-col gap-y-8">
                        <h2 class="lg:text-[33px] md:text-[28px] text-2xl font-extrabold">Receive payment from international bank details</h2>
                        <div class="md:flex gap-y-6 text-start gap-4">
                            <div>
                                <div class="inline-block bg-secondary dark:bg-white/4 rounded-lg flex-shrink-0 p-4 mb-3">
                                    <img src="assets/img/landing/app-showcase-1/features/payments.svg" alt="Icon">
                                </div>
                                <p>Manage your payments online. Mollis congue egestas egestas fermentum fames.</p>
                            </div>

                            <div>
                                <div class="inline-block bg-secondary dark:bg-white/4 rounded-lg flex-shrink-0 p-4 mb-3">
                                    <img src="assets/img/landing/app-showcase-1/features/cashback.svg" alt="Icon">
                                </div>
                                <p>A elementur and imperdiet enim, pretium etiam facilisi aenean quam mauris.</p>
                            </div>
                        </div>

                        <div>
                            <a [routerLink]="[]" class="inline-flex md:w-auto gap-2 items-center px-7 py-2.5 text-white bg-primary hover:bg-primary-hover transition-all duration-300 text-sm font-bold rounded-lg">
                                Learn more
                                <iconify-icon icon="tabler:arrow-right" class="font-bold" width="16" height="16"></iconify-icon>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    