<div class="md:pt-6 md:ps-6 lg:pb-24 md:pb-18 pb-12">
    <div class="grid md:grid-cols-12 grid-cols-1 border border-default-200 overflow-hidden rounded-lg">
        <div class="lg:col-span-4 relative">
            <div id="contactsList" class="hs-overlay [--auto-close:lg] lg:translate-x-0 lg:end-auto lg:bottom-0 lg:w-full w-80 hs-overlay-open:translate-x-0 -translate-x-full transition-all duration-300 transform absolute lg:static lg:!block h-full rounded-lg border-e border-default-200 dark:border-white/14 top-0 start-0 bottom-0 z-90" role="dialog" tabindex="-1" aria-label="Sidebar">
                <div class="p-6 bg-secondary dark:bg-white/4">
                    <div class="flex justify-between items-center mb-6">
                        <h1 class="text-[28px] font-extrabold">Messages</h1>
                        <button>
                            <lucide-icon name="x" class="lg:hidden size-5 text-default-400 dark:text-white/35" data-hs-overlay="#contactsList"></lucide-icon>
                        </button>
                    </div>

                    <div class="relative">
                        <input class="block w-full rounded-lg border-default-300 text-default-700 dark:bg-white/4 dark:border-white/14 px-4.5 py-2 text-sm focus:ring-primary" placeholder="Search">
                        <lucide-icon name="search" class="size-4 absolute top-1.5 end-2 text-default-700"></lucide-icon>
                    </div>
                </div>

                <div class="h-136 overflow-y-auto [&::-webkit-scrollbar]:w-0.75 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-thumb]:bg-default-200">
                    @for (chat of chatListData; track $index) {
                    <a [routerLink]="[]" class="flex items-center gap-3 py-4 px-6 border-b border-default-200 dark:border-white/14 transition-all duration-300" [class]="chat.active
                            ? 'relative bg-white dark:bg-dark'
                            : 'hover:bg-primary/10 bg-secondary dark:bg-white/4'
                        ">
                        @if (chat.active) {
                        <div class="absolute top-0 start-0 bg-primary w-px h-full"></div>
                        }
                        <img [src]="chat.image" class="rounded-full size-10" [alt]="chat.alt">
                        <div class="w-full">
                            <div class="flex justify-between items-center">
                                <h6 class="font-extrabold mb-1">{{ chat.name }}</h6>

                                <span class="text-xs text-default-400 dark:text-white/50">
                                    {{ chat.time }}
                                </span>
                            </div>

                            <p class="text-sm">
                                {{ chat.message }}
                            </p>
                        </div>
                    </a>
                    }

                </div>
            </div>
        </div>

        <div class="lg:col-span-8 md:col-span-12">
            <div class="p-6 flex justify-between border-b border-default-200 dark:border-white/14">
                <div class="flex items-center gap-2">
                    <div class="lg:hidden block text-center">
                        <button>
                            <iconify-icon icon="lucide:menu" class="size-6 text-default-600 mt-2" aria-haspopup="dialog" aria-expanded="false" aria-controls="contactsList" aria-label="Toggle navigation" data-hs-overlay="#contactsList"></iconify-icon>
                        </button>
                    </div>

                    <img src="assets/img/avatar/20.jpg" class="rounded-full size-10" alt="Albert Flores">
                    <h6 class="font-extrabold">Albert Flores</h6>
                    <span class="size-2 bg-success rounded-full"></span>
                </div>

                <div class="flex items-center md:gap-3">
                    <div class="hs-dropdown [--auto-close:inside] relative inline-flex">
                        <button type="button" class="hs-dropdown-toggle py-2.5 lg:px-6 px-4 text-sm font-semibold text-primary border border-primary/40 rounded-md hover:bg-primary hover:text-white transition-all duration-300 flex items-center justify-center gap-1.5" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
                            <lucide-icon name="ellipsis" class="size-4"></lucide-icon>
                            <span class="hidden md:block">More</span>
                        </button>

                        <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-45 bg-white shadow-lg rounded-lg my-3 py-2" role="menu" aria-orientation="vertical">
                            <div class="flex flex-col">
                                <a class="py-1.5 px-4 text-default-800 hover:text-primary font-medium text-sm" [routerLink]="[]">
                                    View profile
                                </a>

                                <a class="py-1.5 px-4 text-default-800 hover:text-primary font-medium text-sm" [routerLink]="[]">
                                    Disable notifications
                                </a>

                                <a class="py-1.5 px-4 text-default-800 hover:text-primary font-medium text-sm" [routerLink]="[]">
                                    Edit contact
                                </a>

                                <a class="py-1.5 px-4 text-default-800 hover:text-primary font-medium text-sm" [routerLink]="[]">
                                    Delete contact
                                </a>

                                <a class="py-1.5 px-4 text-default-800 hover:text-primary font-medium text-sm" [routerLink]="[]">
                                    Delete chat
                                </a>

                                <a class="py-1.5 px-4 text-default-800 hover:text-primary font-medium text-sm" [routerLink]="[]">
                                    Clear history
                                </a>

                                <a class="py-1.5 px-4 text-default-800 hover:text-primary font-medium text-sm" [routerLink]="[]">
                                    Block user
                                </a>
                            </div>
                        </div>
                    </div>

                    <button class="md:flex hidden py-2.5 lg:px-6 px-4 text-sm font-semibold text-danger border border-danger/40 rounded-md hover:bg-danger hover:text-white transition-all duration-300 items-center justify-center gap-1.5">
                        <lucide-icon name="trash" class="size-4"></lucide-icon>
                        <span class="lg:block hidden">Clear chat</span>
                    </button>
                </div>
            </div>

            <div class="h-130 overflow-y-auto [&::-webkit-scrollbar]:w-0.75 [&::-webkit-scrollbar-track]:rounded-full hover:[&::-webkit-scrollbar-thumb]:bg-default-300 [&::-webkit-scrollbar-thumb]:bg-transparent">
                <div class="p-6">

                    @for (message of chatMessages; track $index) {

                    @if (message.date) {
                    <div class="text-sm mb-4 text-default-400 dark:text-white/60 text-center">
                        {{ message.date }}
                    </div>
                    }

                    <div class="flex items-start gap-3 mb-4" [class.justify-end]="message.sender === 'sender'">

                        @if (message.sender === 'receiver') {
                        <img [src]="message.image" class="size-10 rounded-full">
                        }

                        <div class="w-84">

                            @for (text of message.messages; track $index) {

                            <div class="p-4 mb-1" [class]="
                        message.sender === 'sender'
                        ? 'bg-primary text-white rounded-s-md rounded-br-md'
                        : 'bg-secondary dark:bg-white/4 rounded-e-md rounded-bl-md'
                    ">

                                <p>{{ text }}</p>
                            </div>

                            }

                            <div class="text-default-400 dark:text-white/60 text-sm flex items-center gap-1" [class.justify-end]="message.sender === 'sender'">

                                {{ message.time }}

                                @if (message.seen) {
                                <lucide-icon name="check-check" class="size-4 text-primary"></lucide-icon>
                                }

                                @if (message.delivered) {
                                <lucide-icon name="check" class="size-4 text-primary"></lucide-icon>
                                }
                            </div>
                        </div>

                        @if (message.sender === 'sender') {
                        <img [src]="message.image" class="size-10 rounded-full">
                        }
                    </div>

                    }

                </div>
            </div>
            <div class="py-4 px-6">
                <div class="md:flex items-center gap-2">
                    <div class="relative w-full">
                        <input class="block w-full rounded-lg border-default-300 text-default-700 dark:bg-white/4 dark:border-white/14 px-4.5 py-3 text-sm focus:ring-primary">
                        <div class="size-9 absolute top-1/2 -translate-y-1/2 md:end-12 end-10 hover:bg-primary/10 flex justify-center items-center rounded-md">
                            <lucide-icon name="paperclip" class="size-5"></lucide-icon>
                        </div>
                        <div class="size-9 absolute top-1/2 -translate-y-1/2 end-2 hover:bg-primary/10 flex justify-center items-center rounded-md">
                            <lucide-icon name="smile" class="size-5"></lucide-icon>
                        </div>
                    </div>

                    <div class="md:mt-0 mt-3 md:size-11 md:p-0 py-3 w-full transition-all flex justify-center gap-2 items-center bg-primary hover:bg-primary-hover text-white rounded-md">
                        <lucide-icon name="send-horizontal" class="size-5"></lucide-icon>
                        <span class="block md:hidden">Send</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>