<section class="mt-19.5 relative">
    <div class="w-full bg-gradient-to-r from-purple-500/10 via-indigo-500/10 to-pink-500/10 lg:py-24 md:py-18 py-12">
        <div class="container">
            <div class="grid lg:grid-cols-12 lg:gap-0 gap-y-10 items-center">
                <div class="lg:col-span-5">
                    <div class="lg:w-full md:w-2xl">
                        <h5 class="mb-2 text-default-900 font-extrabold text-xl">Welcome!</h5>
                        <h1 class="text-4xl md:text-5xl lg:text-[64px] font-extrabold mb-6">
                            Learn <span class="text-primary">IT Online</span> with No Limits
                        </h1>
                        <p class="text-lg mb-12">
                            Enjoy our great selection of IT courses. Choose from more than 25K online video courses and become an IT expert now!
                        </p>

                        <form class="hidden md:flex gap-x-3">
                            <div class="flex w-full">
                                <input type="text" class="w-1/2 px-4 py-3 border border-default-300 dark:border-white/14 dark:bg-white/2 focus:ring-0 rounded-s-lg" placeholder="Search courses...">
                                <select class="w-1/2 px-4 py-3 border border-default-300 dark:border-white/14 dark:bg-white/2 focus:ring-0 rounded-e-lg">
                                    <option value="" selected disabled>Categories</option>
                                    <option>Web Development</option>
                                    <option>Mobile Development</option>
                                    <option>Programming</option>
                                    <option>Game Development</option>
                                    <option>Software Testing</option>
                                    <option>Software Engineering</option>
                                    <option>Network & Security</option>
                                </select>
                            </div>

                            <button type="submit" class="px-4 py-3 bg-primary rounded-lg hover:bg-primary-hover transition-all flex items-center justify-center">
                                <lucide-icon name="search" class="size-5.5 text-white"></lucide-icon>
                            </button>
                        </form>

                        <form class="md:hidden mb-8 space-y-2">
                            <input type="text" class="w-full px-4 py-3 border border-default-300 dark:border-white/14 dark:bg-white/2 rounded-md focus:ring-0" placeholder="Search courses...">
                            <select class="w-full px-4 py-3 border border-default-300 dark:border-white/14 dark:bg-white/2 rounded-md focus:ring-0">
                                <option value="" selected disabled>Categories</option>
                                <option>Web Development</option>
                                <option>Mobile Development</option>
                                <option>Programming</option>
                                <option>Game Development</option>
                                <option>Software Testing</option>
                                <option>S oftware Engineering</option>
                                <option>Network & Security</option>
                            </select>
                            <button type="submit" class="w-full px-4 py-3 bg-primary text-white rounded-md hover:bg-primary-hover flex items-center justify-center">
                                <lucide-icon name="search" class="size-5.5"></lucide-icon>
                            </button>
                        </form>

                        <div class="flex items-center lg:mt-24 mt-12">
                            <div class="flex -gap-x-3">
                                <div class="border-2 border-white dark:border-dark rounded-full flex items-center justify-center">
                                    <img src="assets/img/avatar/08.jpg" class="rounded-full size-12" alt="Avatar">
                                </div>

                                <div class="border-2 border-white dark:border-dark rounded-full flex items-center justify-center">
                                    <img src="assets/img/avatar/15.jpg" class="rounded-full size-12" alt="Avatar">
                                </div>

                                <div class="border-2 border-white dark:border-dark rounded-full flex items-center justify-center">
                                    <img src="assets/img/avatar/16.jpg" class="rounded-full size-12" alt="Avatar">
                                </div>
                            </div>

                            <span class="text-sm ms-4">
                                <span class="text-primary font-semibold">10K+</span> students are already with us
                            </span>
                        </div>
                    </div>
                </div>

                <div class="lg:col-span-7">
                    <div appParallax [parallaxScale]="5" class="parallax lg:ms-auto lg:w-162 md:w-160 mx-auto" style="transform: translate3d(0px, 0px, 0px) rotate(0.0001deg); transform-style: preserve-3d; backface-visibility: hidden;">
                        <div class="parallax-layer" data-depth="0.1" style="transform: translate3d(-6.5px, -0.6px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: relative; display: block; left: 0px; top: 0px;">
                            <img src="assets/img/landing/online-courses/hero/layer01.png" alt="Layer">
                        </div>

                        <div class="parallax-layer" data-depth="0.13" style="transform: translate3d(-8.4px, -0.8px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">
                            <img src="assets/img/landing/online-courses/hero/layer02.png" alt="Layer">
                        </div>

                        <div class="parallax-layer zindex-5" data-depth="-0.12" style="transform: translate3d(7.8px, 0.7px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">
                            <img src="assets/img/landing/online-courses/hero/layer03.png" alt="Layer">
                        </div>

                        <div class="parallax-layer zindex-3" data-depth="0.27" style="transform: translate3d(-17.4px, -1.6px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">
                            <img src="assets/img/landing/online-courses/hero/layer04.png" alt="Layer">
                        </div>

                        <div class="parallax-layer zindex-1" data-depth="-0.18" style="transform: translate3d(11.6px, 1.1px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">
                            <img src="assets/img/landing/online-courses/hero/layer05.png" alt="Layer">
                        </div>

                        <div class="parallax-layer zindex-1" data-depth="0.1" style="transform: translate3d(-6.5px, -0.6px, 0px); transform-style: preserve-3d; backface-visibility: hidden; position: absolute; display: block; left: 0px; top: 0px;">
                            <img src="assets/img/landing/online-courses/hero/layer06.png" alt="Layer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>