<section class="lg:py-24 md:py-18 py-12">
    <div class="container">
        <div class="flex flex-col gap-y-12">
            <div class="grid md:grid-cols-2 gap-y-5">
                <div>
                    <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold">Shoot like a pro with our new easy to use
                        <span class="text-primary">ProDrone 2.0</span>
                    </h2>
                </div>

                <div>
                    <p class="text-lg">
                        Featuring a 1-inch CMOS sensor that can shoot 4K/60fps videos and 20MP photos, ProDrone 2.0 grants filmmakers absolute creative freedom. It carefully optimizes user experience and intelligent features.
                    </p>
                </div>
            </div>

            <div class="relative overflow-hidden group">
                <lightgallery [settings]="settings" class="absolute inset-0 flex items-center justify-center rounded-lg z-10">
                    <a href="https://www.youtube.com/watch?v=aOwTUgqUfH8" class="relative flex items-center justify-center w-18 h-18 bg-white rounded-full text-default-900 group-hover:bg-primary group-hover:text-white group-hover:shadow-[0_2px_8px_#6366f1] transition duration-200" aria-label="Play video">
                        <iconify-icon icon="tabler:player-play-filled" class="text-lg"></iconify-icon>
                    </a>
                </lightgallery>

                <span class="absolute inset-0 bg-black opacity-40 rounded-lg"></span>
                <img src="assets/img/landing/product/video-cover.jpg" alt="Cover image" class="w-full rounded-lg h-auto">
            </div>
        </div>
    </div>
</section>