<section>
    <div class="container">
        <div class="text-center">
            <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold lg:mb-10 mb-4">Why Us?</h2>
        </div>
        <div class="swiper">
            <swiper-container [config]="swiperConfig" init="false" class="swiper-wrapper py-2 lg:mb-0 mb-8">
                @for (feature of featuresData; track feature.title) {
                <swiper-slide class="!h-full">
                    <div class="border border-default-200 dark:border-white/14 group hover:-translate-y-1.5 transition-all duration-300 bg-transparent hover:shadow-md rounded-md dark:hover:bg-white/4 dark:hover:border-white/30 p-6">
                        <iconify-icon [icon]="feature.icon" class="lg:size-12 md:size-9.5  text-default-400 dark:text-default-400 mb-4 group-hover:text-primary transition-all" width="48" height="48"></iconify-icon>
                        <h3 class="text-xl font-extrabold mb-3">{{ feature.title }}</h3>
                        <p>{{ feature.description }}</p>
                    </div>
                </swiper-slide>
                }
                <div id="featurepagination" class="swiper-pagination position-relative d-xl-none pt-3 mt-4"></div>
            </swiper-container>
        </div>
        <div class="flex justify-center mt-6">
            <a [routerLink]="[]" class="inline-block md:w-auto w-full text-center bg-primary  text-white py-3.5 px-8 font-bold hover:!shadow-none rounded-md transition-all hover:bg-primary-hover">Request a price</a>
        </div>
    </div>
</section>