<section class="lg:pt-38 md:pt-4 pt-0">
    <div class="container">
        <div class="text-start md:mb-12 mb-8">
            <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold">How We Work?</h2>
        </div>
        <div class="flex justify-start items-center md:mb-16 mb-8">
            <div class="md:flex justify-start lg:items-start items-start w-full">
                <div class="md:flex justify-start lg:items-start items-start w-full">
                    @for (item of processStepsData; track $index) {

                    <div class="flex md:flex-col items-start justify-start flex-1 relative
            md:after:absolute
            md:after:h-px
            md:after:border
            md:after:border-default-200
            md:dark:after:border-white/14
            md:after:top-10
            md:after:-z-10
            after:md:block
            before:absolute
            before:w-px
            before:border
            before:border-default-200
            dark:before:border-white/14
            before:start-10
            before:top-10
            before:-z-10
            md:before:hidden" [ngClass]="[
                item.wrapperClass,
                item.afterClass,
                $index !== processStepsData.length - 1 ? 'before:h-full' : '',
                $index === 0 ? 'md:after:content-[&quot;&quot;] before:content-[&quot;&quot;]' : 'before:content-[&quot;&quot;]'
            ]">

                        <!-- Number Circle -->
                        <div class="flex-shrink-0">
                            <div class="size-20 bg-secondary dark:bg-white/6 rounded-full flex justify-center items-center">
                                <div class="flex items-center justify-center size-14 shadow-custom rounded-full border-2 border-transparent bg-white dark:bg-white/4">
                                    <span class="text-2xl font-extrabold text-default-900">
                                        {{ $index + 1 }}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- Text Content -->
                        <div class="text-start md:ms-0 ms-5">
                            <h3 class="font-extrabold md:text-2xl text-xl md:mt-6 mb-4">
                                {{ item.title }}
                            </h3>

                            <p>
                                {{ item.description }}
                            </p>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>