<section>
    <div class="container">
        <div class="text-center md:w-2xl mx-auto">
            <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold mb-6">Our offices around the world</h2>
            <p class="mb-4">Congue gravida vel imperdiet rutrum lectus felis purus blandit ullamcorper. In eleifend in ultrices ultrices aliquam augue praesent.</p>
            <a routerLink="/contacts/v2" class="mb-6 inline-block w-auto text-sm text-center bg-primary text-white py-2.5 px-7 font-bold rounded-lg transition-all hover:bg-primary-hover">
                Contact us
            </a>
        </div>

        <div class="md:mt-10 mt-6">
            <img src="assets/img/about/map-light.png" alt="Map" class="block dark:hidden">
            <img src="assets/img/about/map-dark.png" alt="Map" class="hidden dark:block">
        </div>
    </div>
</section>