 <section>
        <div class="container">
            <div class="grid grid-cols-1 md:grid-cols-12 bg-dark border border-default-200 dark:border-white/14 rounded-md overflow-hidden bg-center bg-no-repeat bg-[url('assets/img/portfolio/courses/author-pattern.svg')]">
                <div class="md:col-span-5 bg-top bg-no-repeat bg-cover min-h-88 bg-[url('assets/img/portfolio/courses/author.jpg')]"></div>

                <div class="md:col-span-7 px-4 md:px-6 md:py-12">
                    <div class="mx-auto max-w-132.5 py-12">
                        <div class="text-xl text-white/50 mb-2">Learn from the best</div>
                        <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold text-white mb-6">Albert Flores</h2>
                        <p class="text-white/70 mb-10"> Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque faucibus amet, eleifend diam quam condimentum convallis ultricies placerat. Duis habitasse placerat amet, odio pellentesque rhoncus, feugiat at. Eget pellentesque tristique felis magna fringilla.</p>

                        <div class="md:flex gap-3">
                            <a [routerLink]="[]" class="inline-flex items-center text-nowrap gap-2 w-full transition-all justify-center bg-red-400/90 hover:bg-danger text-sm text-white font-semibold px-8 py-2.5 rounded-md">
                                <lucide-icon name="youtube" class="size-5 text-white"></lucide-icon>
                                240k subscribers
                            </a>
                            <a [routerLink]="[]" class="inline-flex items-center gap-2 w-full md:mt-0 mt-3 transition-all justify-center bg-sky-400/90 hover:bg-sky-500 text-sm text-white font-semibold px-8 py-2.5 rounded-md">
                                <lucide-icon name="facebook" class="size-4 fill-white"></lucide-icon>
                                180k followers
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>