<section class="md:pb-18 pb-12">
    <div class="container">
        <div class="text-center">
            <h2 class="lg:text-[33px] md:text-[28px] text-2xl md:mb-10 mb-6 font-extrabold">Trusted by Leading Universities & Companies</h2>
        </div>
        <div class="swiper">
            <swiper-container [config]="swiperConfig" init="false" class="swiper-wrapper mb-10">
                @for (brand of brandsData; track brand) {
                <swiper-slide class="py-3">
                    <a [routerLink]="[]" class="rounded-lg border border-default-200 dark:border-white/14 dark:hover:bg-white/4 dark:hover:border-white/30 bg-transparent py-8 px-3 hover:transform hover:-translate-y-1.5 transition-all duration-300 hover:shadow-md flex justify-center items-center">
                        <img [src]="brand" class="w-38.5" alt="brand">
                    </a>
                </swiper-slide>
                }
            </swiper-container>

            <div id="brandspagination" class="swiper-pagination relative pt-2 mt-4"></div>
        </div>
    </div>
</section>