<section class="bg-dark py-12">
    <div class="container lg:pt-18 pt-14 lg:pb-10 pb-6">
        <nav>
            <ol class="flex flex-wrap items-center gap-2 font-medium text-default-500 text-sm">
                <li>
                    <a routerLink="/" class="flex items-center gap-1.5 text-white/60 font-semibold hover:text-white transition-all">
                        <lucide-icon name="house" class="size-4.5"></lucide-icon>Home
                    </a>
                </li>
                <lucide-icon name="chevrons-right" class="size-4 text-white/60 hover:text-white"></lucide-icon>
                <li class="text-white font-bold">Pricing</li>
            </ol>
        </nav>
    </div>
    <div class="h-85"></div>
    
</section>