<section class="dark bg-dark lg:py-30 md:py-16 py-12">
        <div class="container">
            <div class="grid md:grid-cols-2 grid-cols-1 gap-6">
                <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold text-white">Our <span class="text-warning">data centers</span> spread all over the world. Get access to the
                    API from anywhere</h2>
                <p class="lg:w-lg w-full ms-auto text-xl text-white/70">Our data centers are a key component of our global infrastructure, providing reliable and scalable computing resources to customers around the world. We offer a highly distributed and resilient platform that can support the most demanding workloads.</p>
            </div>

            <div class="lg:mt-24 md:mt-16 mt-10.5">
                <img src="assets/img/landing/saas-5/map.png" alt="Map">
            </div>
        </div>
    </section>