<section class="lg:pt-24 md:pt-18 pt-12 pb-6">
    <div class="text-center lg:mb-10 mb-6">
        <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold">Over 5K Customers Worldwide Rely on Us</h2>
    </div>
    <div class="container">
        <div class="swiper">
            <swiper-container [config]="swiperConfig" init="false" class="swiper-wrapper mb-10">
                @for (brand of brandsData; track $index) {

                <swiper-slide class="py-3">
                    <a [routerLink]="[]" class="rounded-lg border border-default-200 dark:border-white/14 dark:hover:bg-white/4 dark:hover:border-white/30 bg-transparent py-8 px-3 hover:transform hover:-translate-y-1.5 transition-all duration-300 hover:shadow-md flex justify-center items-center">
                        <img [src]="brand" class="w-38.5" alt="brand">
                    </a>
                </swiper-slide>
                } </swiper-container>
            <div id="swiper-pagination" class="swiper-pagination position-relative pt-2 mt-4"></div>
        </div>
    </div>
</section>