 <section class="relative">
        <div class="absoulute bg-gradient-to-r from-indigo-500/15 via-purple-500/15 to-pink-500/15 h-[calc(100%-7rem)] absolute top-0 start-0 w-full">
        </div>
        <div class="container lg:pt-24 md:pt-18 pt-12">
            <div class="grid md:grid-cols-2 grid-cols-1 lg:gap-0 gap-x-10 gap-y-6 lg:pb-20 md:pb-14 pb-12">
                <div>
                    <h2 class="lg:text-[40px] md:text-[33px] text-[28px] text-default-900 font-extrabold">User-friendly electric
                        <span class="text-primary">scooter</span> designed exceptionally for <span class="text-primary">sharing</span>
                    </h2>
                </div>

                <div>
                    <p class="text-xl">With a seamless form and swanlike silhouette, our scooter is designed to change micro-mobility forever. We engineered every element around the comfort of our riders, putting the vehicle through rigorous testing to verify its safety and durability in all environments.</p>
                </div>
            </div>

            <div class="relative bg-dark rounded-md overflow-hidden px-12 lg:pt-32 lg:pb-19 md:pt-16 md:pb-12 pt-8 pb-5">
                <div class="absolute inset-0 bg-white/5"></div>
                <div class="relative z-10 mx-auto max-w-214">
                    <img src="assets/img/landing/startup/scooter.png" class="block" alt="Scooter">

                    <div class="absolute top-0 start-[61.7%] flex items-center">
                        <div>
                            <div class="size-11 flex gap-3 items-center justify-center rounded-full border-1 border-primary text-white font-bold text-lg pointer-events-none">
                                1
                            </div>
                        </div>
                        <div class="hidden md:block text-xl text-white/70 ms-3">GPS / GSM enabled</div>
                        <div class="md:hidden text-sm text-white/70 ms-2">GPS / GSM enabled</div>
                    </div>

                    <div class="absolute top-[3.2%] end-[68.3%] flex items-center">
                        <div class="hidden md:block text-xl text-white/70 me-3">Urban design</div>
                        <div class="md:hidden text-sm text-white/70 me-2">Urban design</div>
                        <div>
                            <div class="size-11 flex gap-3 items-center justify-center rounded-full border-1 border-primary text-white font-bold text-lg pointer-events-none">
                                2
                            </div>
                        </div>
                    </div>

                    <div class="absolute top-[26.8%] end-[49.9%] flex items-center">
                        <div class="hidden md:block text-xl text-white/70 text-end me-3">
                            Long-lasting<br>battery
                        </div>
                        <div class="md:hidden text-sm text-white/70 text-end me-2">
                            Long-lasting<br>battery
                        </div>
                        <div>
                            <div class="size-11 flex gap-3 items-center justify-center rounded-full border-1 border-primary text-white font-bold text-lg pointer-events-none"> 3</div>
                        </div>
                    </div>

                    <div class="absolute top-[45%] start-[64.8%] flex items-center">
                        <div>
                            <div class="size-11 flex gap-3 items-center justify-center rounded-full border-1 border-primary text-white font-bold text-lg pointer-events-none"> 4</div>
                        </div>
                        <div class="hidden md:block text-xl text-white/70 ms-3">
                            Anti-theft<br>encryption
                        </div>
                        <div class="md:hidden text-sm text-white/70 ms-2">
                            Anti-theft<br>encryption
                        </div>
                    </div>

                    <div class="absolute top-[62%] end-[74.5%] flex items-center">
                        <div class="hidden md:block text-xl text-white/70 text-end me-3">Safety elements</div>
                        <div class="md:hidden text-sm text-white/70 text-end me-2">Safety elements</div>
                        <div>
                            <div class="size-11 flex gap-3 items-center justify-center rounded-full border-1 border-primary text-white font-bold text-lg pointer-events-none">5</div>
                        </div>
                    </div>

                    <div class="absolute top-[67%] start-[72.5%] flex items-center">
                        <div>
                            <div class="size-11 flex gap-3 items-center justify-center rounded-full border-1 border-primary text-white font-bold text-lg pointer-events-none"> 6</div>
                        </div>
                        <div class="hidden md:block text-xl text-white/70 ms-3">
                            Enhanced motor<br>output
                        </div>
                        <div class="md:hidden text-sm text-white/70 ms-2">
                            Enhanced motor<br>output
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>