<footer class="lg:pt-18 lg:pb-12 md:pt-14 md:pb-8 pt-12 pb-6 bg-dark">
    <div class="container">
        <div class="grid grid-cols-1 lg:grid-cols-12 lg:gap-y-8 gap-y-10 pb-20">
            <div class="lg:col-span-4">
                <div class="max-w-md">
                    <h3 class="mb-6 lg:text-[28px] text-2xl font-extrabold text-white">Newsletter</h3>
                    <p class="mb-8 text-white/70">Please, subscribe to our newsletter to keep updated about our news and offers. </p>
                    <form class="space-y-3">
                        <div class="relative flex">
                            <span class="absolute inset-y-0 start-0 flex items-center ps-3 text-white/70">
                                <iconify-icon icon="tabler:mail" class="text-lg"></iconify-icon>
                            </span>

                            <input type="email" placeholder="Your email" required class="ps-12 pe-4 py-2 border-white/14 w-full border bg-white/3 placeholder:text-sm rounded-s-lg focus:ring-white/40 text-white outline-none">
                            <button type="submit" class="bg-primary hover:bg-primary-hover text-sm text-white px-5 rounded-e-lg font-bold transition">
                                Subscribe
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="lg:col-span-7 lg:col-start-6">
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
                    <div>
                        <h3 class="lg:mb-8 mb-6 lg:text-[28px] text-2xl font-extrabold text-white">Our office</h3>
                        <ul class="space-y-3 text-white/80">

                            @for (item of contactInfo; track $index) {
                            <li class="flex gap-2" [class.items-start]="item.type === 'text'" [class.items-center]="item.type === 'link'">

                                <iconify-icon [icon]="item.icon" class="text-primary text-xl" [class.mt-1]="item.type === 'text'"></iconify-icon>

                                @if (item.type === 'link') {
                                <a [href]="item.link" class="hover:text-primary transition-all" [innerHTML]="item.text">

                                </a>
                                } @else {
                                <span class="hover:text-primary transition-all" [innerHTML]="item.text"></span>
                                }

                            </li>
                            }

                        </ul>
                    </div>

                    <div>
                        <h3 class="lg:mb-8 mb-6 lg:text-[28px] text-2xl font-extrabold text-white">Payments accepted</h3>
                        <div class="flex flex-wrap gap-4">
                            <img src="assets/img/landing/product/payments/visa.png" alt="Visa" class="h-12">
                            <img src="assets/img/landing/product/payments/mastercard.png" alt="Mastercard" class="h-12">
                            <img src="assets/img/landing/product/payments/paypal.png" alt="PayPal" class="h-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-t border-white/14 pt-6">
            <div class="md:flex justify-between space-y-6 items-center">
                <p class="flex md:justify-center justify-center items-center gap-1 md:mb-0 mb-4">
                    <span class="text-sm text-white/60">© All rights reserved. Made by </span>
                    <a class="text-white/80 font-extrabold hover:text-primary text-sm transition-all" href="{{credits.website}}" target="_blank" rel="noopener">Coderthemes</a>
                </p>

                <div class="flex md:justify-end justify-center gap-5">
                    @for (item of socialLinks; track $index) {
                    <a [routerLink]="[]" [attr.aria-label]="item.label" class="flex items-center justify-center size-11 rounded-full bg-white/8 text-white/85 transition-all" [class]="item.hoverClass">
                        <iconify-icon [icon]="item.icon" class="text-lg"></iconify-icon>
                    </a>
                    }

                </div>
            </div>
        </div>
    </div>
</footer>