<section class="lg:py-18 md:py-14 py-12">
  <div class="container">
    <div class="swiper overflow-visible">
      <swiper-container
        slides-per-view="2"
        pagination="true"
        pagination-el=".swiper-pagination"
        pagination-clickable="true"
        [breakpoints]="{
          '375': { slidesPerView: 2, spaceBetween: 16 },
          '768': { slidesPerView: 4, spaceBetween: 16 },
          '1440': { slidesPerView: 6, spaceBetween: 16 },
        }"
        class="mb-10"
      >
        @for (item of brandData; track $index) {
          <swiper-slide class="py-3">
            <a
              [routerLink]="[]"
              class="rounded-lg border border-default-200 dark:border-white/14 dark:hover:bg-white/4 dark:hover:border-white/30 bg-transparent py-8 px-3 hover:transform hover:-translate-y-1.5 hover:shadow-md transition-all duration-300 flex justify-center items-center"
            >
              <img [src]="item" class="w-38.5" alt="Brands" />
            </a>
          </swiper-slide>
        }
      </swiper-container>
      <div class="swiper-pagination swiper-pagination-horizontal"></div>
    </div>
  </div>
</section>
