<section class="lg:py-24 md:py-18 py-14">
  <div class="container">
    <div class="grid md:grid-cols-2 grid-cols-1 gap-y-8 items-center">
      <div>
        <div class="swiper-tabs z-20 mx-auto relative">
          <!-- Screen 1 -->
          <div
            id="screen-1"
            class="swiper-tab relative rounded-lg px-5 md:px-0 active bg-[linear-gradient(135deg,#96FBC4_0%,#DBF799_100%)]"
          >
            <span
              class="absolute start-0 -translate-x-1/2 z-10 rounded-full size-6 md:bottom-26 bg-[linear-gradient(90deg,#96FBC4_0%,#F9F586_100%)]"
            ></span>

            <span
              class="absolute top-1/2 -translate-y-1/2 z-10 rounded-full size-3.5 md:-start-18.5 bg-[linear-gradient(90deg,#96FBC4_0%,#F9F586_100%)]"
            ></span>

            <span
              class="absolute z-10 rounded-full size-2.5 md:top-10 md:-end-10 bg-[linear-gradient(90deg,#96FBC4_0%,#F9F586_100%)]"
            ></span>

            <img
              src="assets/img/landing/app-showcase-3/steps/01.png"
              class="block mx-auto w-125"
              alt="App screen"
            />
          </div>

          <!-- Screen 2 -->
          <div
            id="screen-2"
            class="swiper-tab hidden relative rounded-lg px-4 md:px-0 bg-[linear-gradient(124deg,#F6D365_2.46%,#FDA085_101.25%)]"
          >
            <span
              class="absolute start-0 -translate-x-1/2 z-10 rounded-full size-6 md:bottom-38 bg-[linear-gradient(124deg,#F6D365_2.46%,#FDA085_101.25%)]"
            ></span>

            <span
              class="absolute z-10 rounded-full size-3.5 md:bottom-22.5 md:-start-14 bg-[linear-gradient(124deg,#F6D365_2.46%,#FDA085_101.25%)]"
            ></span>

            <span
              class="absolute z-10 rounded-full size-2.5 top-14 -end-9 bg-[linear-gradient(124deg,#F6D365_2.46%,#FDA085_101.25%)]"
            ></span>

            <img
              src="assets/img/landing/app-showcase-3/steps/02.png"
              class="block mx-auto w-125"
              alt="App screen"
            />
          </div>

          <!-- Screen 3 -->
          <div
            id="screen-3"
            class="swiper-tab hidden relative rounded-lg bg-gradient-to-r from-indigo-500 to-indigo-700 px-5 md:px-0"
          >
            <span
              class="absolute start-0 -translate-x-1/2 z-10 size-6 md:bottom-28 rounded-full bg-gradient-to-r from-indigo-500 to-indigo-700"
            ></span>

            <span
              class="absolute top-1/2 -translate-y-1/2 z-10 size-3.5 md:-start-16 rounded-full bg-gradient-to-r from-indigo-500 to-indigo-700 mt-4"
            ></span>

            <span
              class="absolute z-10 rounded-full size-2.5 top-8.5 -end-8.5 bg-gradient-to-r from-indigo-500 to-indigo-700"
            ></span>

            <img
              src="assets/img/landing/app-showcase-3/steps/03.png"
              class="block mx-auto w-125"
              alt="App screen"
            />
          </div>
        </div>
      </div>

      <div class="lg:w-lg md:w-xs md:ms-auto">
        <div class="swiper content-swiper text-center md:text-start" #workSwiper>
          <div class="swiper-wrapper">
            @for (item of stepFeatureData; track $index) {
              <div class="swiper-slide">
                <div class="text-primary font-extrabold text-xl mb-3">
                  {{ item.stepNumber }}
                </div>

                <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold mb-5">
                  {{ item.title }}
                </h2>

                <ul class="flex flex-col gap-y-3 list-none">
                  @for (feature of item.features; track $index) {
                    <li class="flex lg:items-center items-start gap-2 text-lg text-start">
                      <div>
                        <iconify-icon
                          icon="tabler:check"
                          class="lg:mt-0 mt-1 text-primary"
                          width="24" height="24"
                        ></iconify-icon>
                      </div>

                      {{ feature }}
                    </li>
                  }
                </ul>
              </div>
            }
          </div>
        </div>

        <div class="flex justify-center gap-14 md:justify-start md:pt-12 pt-6 relative">
          <button
            type="button"
            id="prev-screen"
            aria-label="prevEl"
            class="flex items-center justify-center size-9 rounded-full bg-white dark:bg-white/3 shadow-custom hover:bg-primary hover:text-white transition-all duration-300"
          >
            <iconify-icon icon="lucide:chevron-left" class="text-lg font-extrabold"></iconify-icon>
          </button>

          <div
            id="stepsPagination"
            class="swiper-pagination absolute start-1/2 -translate-x-1/2 w-auto md:mx-16.5 mx-43 whitespace-nowrap pointer-events-none"
          ></div>

          <button
            type="button"
            id="next-screen"
            aria-label="nextEl"
            class="flex items-center justify-center size-9 rounded-full bg-white dark:bg-white/3 shadow-custom hover:bg-primary hover:text-white transition-all duration-300"
          >
            <iconify-icon icon="lucide:chevron-right" class="text-lg font-extrabold"></iconify-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
