<section class="md:pt-16 pt-14">
  <div class="container lg:border-b lg:border-default-200 dark:border-white/14 lg:pb-8">
    <div class="swiper">
      <swiper-container [config]="swiperConfig" init="false" class="lg:mb-0 mb-12">
        @for (item of brandData; track $index) {
        <swiper-slide>
          <a [routerLink]="[]">
            <img [src]="item" class="block mx-auto my-2 w-38.5" alt="Brand" />
          </a>
        </swiper-slide>
        }
      </swiper-container>
      <div id="brandspagination" class="swiper-pagination position-relative pt-3"></div>
    </div>
  </div>
</section>