<section class="lg:pt-24 md:pt-18 pt-12">
    <div class="container">
        <div class="swiper pt-3">
            <swiper-container [config]="swiperConfig" init="false" class="swiper-wrapper lg:mb-0 mb-12">
                @for (item of featuresData; track $index) {
                <swiper-slide class="px-2 border-default-200" [class]="{
      'lg:border-e': $index !== featuresData.length - 1
    }">
                    <div class="text-center">
                        <img [src]="item.icon" [alt]="item.alt" class="size-12 mb-6 mx-auto" />

                        <h4 class="text-2xl font-extrabold mb-3">
                            {{ item.title }}
                        </h4>

                        <p class="mx-auto w-xs">
                            {{ item.description }}
                        </p>
                    </div>
                </swiper-slide>
                }
            </swiper-container>
            <div id="pagination" class="swiper-pagination position-relative pt-2 pt-sm-3 mt-4 d-lg-none"></div>
        </div>
    </div>
</section>