 <section class="lg:py-24 md:py-14 py-10">
        <div class="container">
            <div class="text-start lg:mb-12 mb-8">
                <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold">Schedule</h2>
            </div>

            <div class="grid lg:grid-cols-12 grid-cols-1 lg:gap-0 gap-y-8">
                <div class="lg:col-span-3">
                    <nav class="lg:flex grid grid-cols-2 lg:flex-col gap-4" aria-label="Tabs" role="tablist" aria-orientation="vertical">
                        <button type="button" class="hs-tab-active:font-semibold hs-tab-active:bg-primary hs-tab-active:text-white bg-secondary dark:bg-white/6 dark:hover:bg-primary/14 hover:bg-secondary hover:text-primary lg:p-12 p-6 rounded-md active" id="day-1-tab" aria-selected="true" data-hs-tab="#day-1" aria-controls="day-1" role="tab">
                            <div class="flex flex-col text-start gap-3">
                                <span class="text-xl font-medium">Day one</span>
                                <p class="lg:text-[28px] md:text-2xl text-xl font-extrabold">Oct 14, 2023</p>
                            </div>
                        </button>

                        <button type="button" class="hs-tab-active:font-semibold hs-tab-active:bg-primary hs-tab-active:text-white bg-secondary dark:bg-white/6 dark:hover:bg-primary/14 hover:bg-secondary hover:text-primary lg:p-12 p-6 rounded-md" id="day-2-tab" aria-selected="true" data-hs-tab="#day-2" aria-controls="day-2" role="tab">
                            <div class="flex flex-col text-start gap-3">
                                <span class="text-xl font-medium">Day Two</span>
                                <p class="lg:text-[28px] md:text-2xl text-xl font-extrabold">Oct 15, 2023</p>
                            </div>
                        </button>
                    </nav>
                </div>

                <div class="lg:col-span-8">
                    <div id="day-1" role="tabpanel" class="lg:w-3xl ms-auto" aria-labelledby="day-1-tab">
                        <div class="border-b border-default-200 dark:border-white/14 md:pb-10 pb-6">
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div>
                                    <div class="text-xl font-extrabold mb-1 text-default-900">9:30 – 10:30 am</div>
                                    <p class="text-default-400 dark:text-white/50">October 14th</p>
                                </div>
                                <div class="md:col-span-2">
                                    <h5 class="font-extrabold text-xl">Opening party & early registration</h5>
                                </div>
                            </div>
                        </div>

                        <div class="border-b border-default-200 dark:border-white/14 md:py-10 py-6">
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div>
                                    <div class="text-xl font-extrabold mb-1 text-default-900">10:30 – 11:30 am</div>
                                    <p class="text-default-400 dark:text-white/50 mb-2 md:mb-4">October 14th</p>
                                    <span class="inline-block bg-warning text-white text-sm font-bold px-2 py-1 rounded">Lecture</span>
                                </div>
                                <div class="md:col-span-2">
                                    <h5 class="font-extrabold mb-4 text-default-900 text-xl">Product strategy: Defining your strategy, tactics, metrics &roadmap</h5>
                                    <p class="mb-6">Pellentesque rhoncus viverra vestibulum, purus purus quisque quisque sed. Leo amet sollicitudin ut pharetra henderit, morbi tortor facilisis amet.</p>
                                    <div class="flex items-center">
                                        <img src="assets/img/avatar/41.jpg" class="size-12 rounded-full" alt="Marvin McKinney">
                                        <div class="ps-3">
                                            <h6 class="font-bold text-default-900 mb-1">Marvin McKinney</h6>
                                            <p class="text-sm text-default-400 dark:text-white/50">Product Manager, Google</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="border-b border-default-200 dark:border-white/14 md:py-10 py-6">
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div>
                                    <div class="text-xl font-extrabold mb-1 text-default-900">11:30 am – 13:00 pm</div>
                                    <p class="text-default-400 dark:text-white/50 md:mb-4">October 14th</p>
                                    <span class="inline-block bg-success text-white text-sm font-semibold px-2 py-1 rounded">Workshop</span>
                                </div>
                                <div class="md:col-span-2">
                                    <h5 class="font-extrabold mb-4 text-default-900 text-xl">Workshop: Top trends and predictions for content that will dominate next year</h5>
                                    <p class="mb-6">Nec, malesuada quisque lorem id amet posuere. Ut sit porta morbi morbi in sed integer facilisis mauris.</p>
                                    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                                        <div class="flex items-center">
                                            <img src="assets/img/avatar/01.jpg" class="size-12 rounded-full" alt="Jerome Bell">
                                            <div class="ps-3">
                                                <h6 class="font-extrabold mb-1">Jerome Bell</h6>
                                                <p class="text-sm text-default-400 dark:text-white/50">Strategic Advisor, Shopify</p>
                                            </div>
                                        </div>
                                        <div class="flex items-center">
                                            <img src="assets/img/avatar/06.jpg" class="size-12 rounded-full" alt="Jenny Wilson">
                                            <div class="ps-3">
                                                <h6 class="font-extrabold mb-1">Jenny Wilson</h6>
                                                <p class="text-sm text-default-400 dark:text-white/50">UX Designer, Glassdoor</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="border-b border-default-200 dark:border-white/14 md:py-10 py-6">
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div>
                                    <div class="text-xl font-extrabold mb-1 text-default-900">13:00 – 14:00 pm</div>
                                </div>
                                <div class="md:col-span-2">
                                    <h5 class="font-extrabold text-xl">Interlude: attendee dinner</h5>
                                </div>
                            </div>
                        </div>

                        <div class="border-b border-default-200 dark:border-white/14 md:py-10 py-6">
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div>
                                    <div class="text-xl font-extrabold mb-1 text-default-900">14:00 – 16:00 pm</div>
                                    <p class="text-default-400 dark:text-white/50 mb-2 sm:mb-4">October 14th</p>
                                    <span class="inline-block bg-warning text-white text-sm font-bold px-2 py-1 rounded">Lecture</span>
                                </div>
                                <div class="md:col-span-2">
                                    <h5 class="font-extrabold mb-4 text-xl">Group discussion: How to align and empower cross-team success</h5>
                                    <p class="mb-6">Pellentesque rhoncus viverra vestibulum, purus purus quisque quisque sed. Cras vestibulum facilisis.</p>
                                    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                                        <div class="flex items-center">
                                            <img src="assets/img/avatar/02.jpg" class="size-12 rounded-full">
                                            <div class="ps-3">
                                                <h6 class="font-extrabold mb-1">Ralph Edwards</h6>
                                                <p class="text-sm text-default-400 dark:text-white/50">Founder & CEO, Uber</p>
                                            </div>
                                        </div>
                                        <div class="flex items-center">
                                            <img src="assets/img/avatar/05.jpg" class="size-12 rounded-full">
                                            <div class="ps-3">
                                                <h6 class="font-extrabold mb-1">Albert Flores</h6>
                                                <p class="text-sm text-default-400 dark:text-white/50">Principal Consultant, Twitch</p>
                                            </div>
                                        </div>
                                        <div class="flex items-center">
                                            <img src="assets/img/avatar/03.jpg" class="size-12 rounded-full">
                                            <div class="ps-3">
                                                <h6 class="font-extrabold mb-1">Esther Howard</h6>
                                                <p class="text-sm text-default-400 dark:text-white/50">VP of Strategy, Stretto Inc.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="border-b border-default-200 dark:border-white/14 md:py-10 py-6">
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div>
                                    <div class="text-xl font-extrabold mb-1 text-default-900">16:00 – 17:00 pm</div>
                                    <p class="text-default-400 dark:text-white/50 mb-2 md:mb-4">October 14th</p>
                                    <span class="inline-block bg-blue-500 text-white text-md font-semibold px-2 py-1 rounded">Panel</span>
                                </div>
                                <div class="md:col-span-2">
                                    <h5 class="font-extrabold text-xl">Panel: State of speed tooling</h5>
                                    <p class="mb-6">Volutpat aliquam quam eget sit. Aliquam dui pellentesque egestas duis amet malesuada eget. Ut faucibus dignissim maecenas dui tristique vestibulum facilisis dictumst consequat.</p>
                                    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                                        <div class="flex items-center">
                                            <img src="assets/img/avatar/07.jpg" class="size-12 rounded-full">
                                            <div class="ps-3">
                                                <h6 class="font-extrabold mb-1">Cameron Williamson</h6>
                                                <p class="text-sm text-default-400 dark:text-white/50">Co-Founder, Invision LTD</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pt-10">
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div>
                                    <div class="text-xl font-extrabold mb-1 text-default-900">17:00 – 19:00 pm</div>
                                    <p class="text-default-400 dark:text-white/50">October 14th</p>
                                </div>
                                <div class="md:col-span-2">
                                    <h5 class="font-extrabold text-xl">Official mid-conference party after Day One</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="day-2" class="lg:w-3xl ms-auto hidden" role="tabpanel" aria-labelledby="day-2-tab">
                        <div class="border-b border-default-200 dark:border-white/14 pb-10">
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div>
                                    <div class="text-xl font-extrabold mb-1 text-default-900">9:30 – 10:30 am</div>
                                    <p class="text-default-400 dark:text-white/50">October 15th</p>
                                </div>
                                <div class="md:col-span-2">
                                    <h5 class="font-extrabold text-xl">Day 2 registration</h5>
                                </div>
                            </div>
                        </div>

                        <div class="border-b border-default-200 dark:border-white/14 py-10">
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div>
                                    <div class="text-xl font-extrabold mb-1 text-default-900">10:30 – 11:30 am</div>
                                    <p class="text-default-400 dark:text-white/50 mb-2 md:mb-4">October 15th</p>
                                    <span class="inline-block bg-success text-white text-sm font-semibold px-2 py-1 rounded">Workshop</span>
                                </div>
                                <div class="md:col-span-2">
                                    <h5 class="font-extrabold mb-4 text-xl">Workshop: Top trends and predictions for content that will dominate next year</h5>
                                    <p class="mb-6">Nec, malesuada quisque lorem id amet posuere. Risus, elit, vel pharetra ac, dictum lorem nisl morbi. Lorem dui id aliquam eu feugiat arcu diam.</p>
                                    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                                        <div class="flex items-center">
                                            <img src="assets/img/avatar/01.jpg" class="size-12 rounded-full" alt="Jerome Bell">
                                            <div class="ps-3">
                                                <h6 class="font-extrabold mb-1">Jerome Bell</h6>
                                                <p class="text-sm text-default-400 dark:text-white/50">Strategic Advisor, Shopify</p>
                                            </div>
                                        </div>
                                        <div class="flex items-center">
                                            <img src="assets/img/avatar/06.jpg" class="size-12 rounded-full" alt="Jenny Wilson">
                                            <div class="ps-3">
                                                <h6 class="font-extrabold mb-1">Jenny Wilson</h6>
                                                <p class="text-sm text-default-400 dark:text-white/50">UX Designer, Glassdoor</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="border-b border-default-200 dark:border-white/14 py-10">
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div>
                                    <div class="text-xl font-extrabold mb-1 text-default-900">11:30 am – 13:00 pm</div>
                                    <p class="text-default-400 dark:text-white/50 mb-2 md:mb-4">October 15th</p>
                                    <span class="inline-block bg-warning text-white text-sm font-bold px-2 py-1 rounded">Lecture</span>
                                </div>
                                <div class="md:col-span-2">
                                    <h5 class="font-extrabold mb-4 text-xl">Product strategy: Defining your strategy, tactics, metrics & roadmap</h5>
                                    <p class="mb-6">Pellentesque rhoncus viverra vestibulum, purus purus quisque quisque sed. Cras vestibulum facilisis dictumst consequat. In bibendum diam nunc dignissim magna morbi mattis.</p>
                                    <div class="flex items-center">
                                        <img src="assets/img/avatar/41.jpg" class="size-12 rounded-full" alt="Marvin McKinney">
                                        <div class="ps-3">
                                            <h6 class="font-extrabold mb-1">Marvin McKinney</h6>
                                            <p class="text-sm text-default-400 dark:text-white/50">Product Manager, Google</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="border-b border-default-200 dark:border-white/14 py-10">
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div>
                                    <div class="text-xl font-extrabold mb-1 text-default-900">13:00 – 14:00 pm</div>
                                    <p class="text-default-400 dark:text-white/50">October 15th</p>
                                </div>
                                <div class="md:col-span-2">
                                    <h5 class="font-extrabold text-xl">Interlude: attendee dinner</h5>
                                </div>
                            </div>
                        </div>

                        <div class="border-b border-default-200 dark:border-white/14 py-10">
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div>
                                    <div class="text-xl font-extrabold mb-1 text-default-900">14:00 – 16:00 pm</div>
                                    <p class="text-default-400 dark:text-white/50 mb-2 sm:mb-4">October 15th</p>
                                    <span class="inline-block bg-blue-500 text-white text-sm font-semibold px-2 py-1 rounded">Panel</span>
                                </div>
                                <div class="md:col-span-2">
                                    <h5 class="font-extrabold mb-4 text-xl">Panel: State of speed tooling</h5>
                                    <p class="mb-6">Volutpat aliquam quam eget sit. Aliquam dui pellentesque egestas duis amet malesuada eget. Ut faucibus dignissim maecenas dui tristique vestibulum facilisis dictumst consequat.</p>
                                    <div class="flex items-center">
                                        <img src="assets/img/avatar/07.jpg" class="size-12 rounded-full">
                                        <div class="ps-3">
                                            <h6 class="font-extrabold mb-1">Cameron Williamson</h6>
                                            <p class="text-sm text-default-400 dark:text-white/50">Co-Founder, Invision LTD</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="border-b border-default-200 dark:border-white/14 py-10">
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div>
                                    <div class="text-xl font-extrabold mb-1 text-default-900">16:00 – 17:00 pm</div>
                                    <p class="text-default-400 dark:text-white/50 mb-2 md:mb-4">October 15th</p>
                                    <span class="inline-block bg-warning text-white text-sm font-bold px-2 py-1 rounded">Lecture</span>
                                </div>
                                <div class="md:col-span-2">
                                    <h5 class="font-extrabold mb-4 text-xl">Group discussion: How to align and empower cross-team success</h5>
                                    <p class="mb-6">Pellentesque rhoncus viverra vestibulum, purus purus quisque quisque sed. Cras vestibulum facilisis.</p>
                                    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
                                        <div class="flex items-center">
                                            <img src="assets/img/avatar/05.jpg" class="size-12 rounded-full" alt="Albert Flores">
                                            <div class="ps-3">
                                                <h6 class="font-extrabold mb-1">Albert Flores</h6>
                                                <p class="text-sm text-default-400 dark:text-white/50">Principal Consultant, Twitch</p>
                                            </div>
                                        </div>
                                        <div class="flex items-center">
                                            <img src="assets/img/avatar/03.jpg" class="size-12 rounded-full" alt="Esther Howard">
                                            <div class="ps-3">
                                                <h6 class="font-extrabold mb-1">Esther Howard</h6>
                                                <p class="text-sm text-default-400 dark:text-white/50">VP of Strategy, Stretto Inc.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pt-10">
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div>
                                    <div class="text-xl font-extrabold mb-1 text-default-900">17:00 – 19:00 pm</div>
                                    <p class="text-default-400 dark:text-white/50">October 15th</p>
                                </div>
                                <div class="md:col-span-2">
                                    <h5 class="font-extrabold text-xl">Closing farewell party</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>