<section class="lg:py-24 md:py-18 py-12 bg-secondary dark:bg-white/4">
    <div class="container text-center">
        <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold mb-6">Ready to Get Started?</h2>
        <p class="md:text-2xl text-xl mb-8">Organize your tasks with a 14-day free trial</p>
        <a [routerLink]="[]" class="inline-block bg-primary  text-white py-3.5 px-8 font-bold hover:!shadow-none rounded-md transition-all hover:bg-primary-hover">Get Started
        </a>
    </div>
</section>