<section class="lg:pt-6 lg:pb-0 pb-8">
    <div class="container">
        <div class="grid md:grid-cols-12 grid-cols-1 lg:gap-0 md:gap-4 gap-y-10">
            <div class="lg:col-span-6 md:col-span-5 lg:w-lg md:text-start text-center">
                <h1 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold mb-6">Award-Winning Software Company</h1>
                <p class="text-lg lg:mb-10 mb-6">We create diverse, complex, web and mobile solutions for any business need. With us you get quality software and perfect service every time.</p>
                <a [routerLink]="[]" class="inline-block w-auto text-center bg-primary  text-white py-3.5 px-8 font-bold hover:!shadow-none rounded-lg transition-all hover:bg-primary-hover">More About Us</a>
                <div class="lg:mt-18 md:mt-12 mt-10">
                    <h2 class="mb-6 font-extrabold">Some of our awards:</h2>
                    <img src="assets/img/landing/software-agency-1/awards.svg" alt="Awards">
                </div>
            </div>

            <div class="lg:col-span-6 md:col-span-7">
                <img src="assets/img/landing/software-agency-1/about-img.jpg" alt="" class="rounded-lg shadow-custom">
            </div>
        </div>
    </div>
</section>