<section>
  <div class="container">
    <div class="flex flex-col gap-y-10">
      <div class="text-center mx-auto md:w-lg">
        <h2
          class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold mb-4"
        >
          How Does It Work?
        </h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit volutpat
          mollis egestas nam luctus facilisis ultrices
        </p>
      </div>

      <div class="grid md:grid-cols-2 md:gap-0 gap-y-6 items-center">
        <div>
          <div class="relative px-5">
            <div class="swiper-tabs z-80 mx-auto lg:max-w-96 max-w-62">
              @for (item of stepFeatureData; track $index) {
                <div
                  [id]="'screen-' + ($index + 1)"
                  class="swiper-tab"
                 
                >
                  <img
                    [src]="item.image"
                    alt="App screen"
                  />
                </div>
              }
            </div>

            <div
              class="absolute start-0 bottom-0 w-full -z-10 rounded-xl opacity-[0.15] bg-gradient-to-r from-blue-500 via-purple-600 to-indigo-700 h-[86.5%]"
            ></div>
          </div>
        </div>

        <div>
          <div class="lg:w-lg md:w-xs w-86 md:ms-auto">
            <div
              #workSwiper
              class="swiper content-swiper text-center md:text-start mt-auto"
            >
              <div class="swiper-wrapper">
                @for (item of stepFeatureData; track $index) {
                  <div class="swiper-slide">
                    <div
                      class="text-xl text-default-500 lg:mb-6 mb-4"
                    >
                      {{ item.step }}
                    </div>

                    <h3
                      class="lg:mb-6 mb-4 lg:text-[28px] text-2xl font-extrabold"
                    >
                      {{ item.title }}
                    </h3>

                    <p>
                      {{ item.description }}
                    </p>
                  </div>
                }
              </div>
            </div>

            <div
              class="flex gap-4 md:justify-start justify-center lg:pt-12 md:pt-8 pt-6"
            >
              <button
                type="button"
                id="prev-screen"
                aria-label="Previous"
                class="flex items-center justify-center size-9 rounded-full bg-white dark:bg-white/3 shadow-custom hover:bg-primary hover:text-white transition-all duration-300"
              >
                <iconify-icon
                  icon="lucide:chevron-left"
                  class="text-lg font-extrabold"
                ></iconify-icon>
              </button>

              <button
                type="button"
                id="next-screen"
                aria-label="Next"
                class="flex items-center justify-center size-9 rounded-full bg-white dark:bg-white/3 shadow-custom hover:bg-primary hover:text-white transition-all duration-300"
              >
                <iconify-icon
                  icon="lucide:chevron-right"
                  class="text-lg font-extrabold"
                ></iconify-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>