<section class="lg:py-20 md:py-14 py-12">
    <div class="container">
        <div class="md:flex justify-between items-center lg:mb-10 mb-6 md:text-start text-center">
            <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold md:mb-0 mb-4">Related Podcasts</h2>

            <a routerLink="/blog/single" class="w-auto text-nowrap gap-2 px-7 py-2.5 text-primary hover:bg-primary hover:text-white transition-all duration-300 font-bold rounded-md inline-flex items-center md:justify-end justify-center border border-primary/60">
                All podcasts
                <lucide-icon name="arrow-right" class="size-4"></lucide-icon>
            </a>
        </div>

        <div>
            <div class="swiper">
                <swiper-container [config]="swiperConfig" init="false" class="mb-12">
                    @for (item of podcastsData; track $index) {
                    <swiper-slide class="h-auto">
                        <div class="relative rounded-2xl overflow-hidden shadow-lg">
                            <div class="hs-tooltip [--placement:left] inline-block absolute top-3 end-3 z-70">
                                <button type="button" class="hs-tooltip-toggle size-9 inline-flex justify-center items-center gap-2 rounded-full bg-white text-dark">
                                    <iconify-icon icon="lucide:bookmark" class="text-lg"></iconify-icon>

                                    <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible py-1 px-2 bg-default-900 text-xs font-medium text-default-200 rounded-md shadow-2xs" role="tooltip">
                                        Listen Later
                                    </span>
                                </button>
                            </div>

                            <img [src]="item.image" alt="Avatar" class="absolute top-3 start-3 size-12 rounded-full z-10" />

                            <span class="absolute z-40 bottom-3 end-3 bg-black/70 text-white text-xs font-medium px-2 py-0.5 rounded">
                                {{ item.duration }}
                            </span>

                            <a [routerLink]="[]" class="absolute inset-0 bg-primary/40 transition" aria-label="Listen podcast"></a>

                            <img [src]="item.podcastImage" alt="Podcast" class="w-full h-56 object-cover rounded-2xl" />
                        </div>

                        <div class="flex items-center gap-4 my-4">
                            <a [routerLink]="[]" class="px-2 py-0.5 text-sm font-semibold bg-secondary dark:bg-white/3 text-default-800 rounded">
                                {{ item.category }}
                            </a>

                            <span class="text-sm text-default-500 dark:text-white/60">
                                {{ item.time }}
                            </span>
                        </div>

                        <h3 class="mb-4 text-xl font-extrabold text-default-900 dark:text-white">
                            <a routerLink="/blog/podcast" class="hover:text-primary transition">
                                {{ item.title }}
                            </a>
                        </h3>

                        <div class="flex items-center gap-4 text-sm text-default-500 dark:text-white/60 md:mt-0 mt-4">
                            <div class="flex items-center gap-1">
                                <lucide-icon name="thumbs-up" class="size-4"></lucide-icon>
                                <span>{{ item.likes }}</span>
                            </div>

                            <div class="flex items-center gap-1">
                                <lucide-icon name="message-square" class="size-4"></lucide-icon>
                                <span>{{ item.comments }}</span>
                            </div>

                            <div class="flex items-center gap-1">
                                <lucide-icon name="share-2" class="size-4"></lucide-icon>
                                <span>{{ item.shares }}</span>
                            </div>
                        </div>

                        <a routerLink="/blog/podcast" class="inline-flex items-center gap-2 mt-6 text-sm text-primary hover:text-primary-hover font-semibold">
                            <lucide-icon name="circle-play" class="size-5"></lucide-icon>
                            Listen now
                        </a>
                    </swiper-slide>
                    }

                </swiper-container>
                <div class="swiper-pagination position-relative pt-2 pt-sm-3 mt-4"></div>
            </div>
        </div>
    </div>
</section>