<section class="lg:py-24 md:py-18 py-12 bg-dark/95">
    <div class="container text-center">
        <h2 class="text-2xl font-medium mb-4 text-white/70">Ready to Get Started?</h2>
        <p class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold mb-12 text-white">Launch Your Project with Us</p>
        <a [routerLink]="[]" class="inline-block bg-primary  text-white py-3.5 px-8 font-bold hover:!shadow-none rounded-md transition-all hover:bg-primary-hover">Work with us</a>
    </div>
</section>