<section class="overflow-hidden lg:pt-24 md:pt-18 pt-12">
    <div class="relative container md:mb-0 mb-12">
        <div class="absolute top-0 start-1/2 -translate-x-1/2 text-center px-3 w-full lg:max-w-2xl md:max-w-lg">
            <h3 class="lg:text-5xl md:text-4xl text-3xl font-extrabold md:mb-8 mb-4">
                Don't miss anything with <span class="text-primary">ProDrone 2.0</span>
            </h3>
            <a [routerLink]="[]" class="inline-block bg-primary text-white 
            py-3.5 px-8 font-bold rounded-md transition-all hover:bg-primary-hover">Buy now</a>
        </div>
    </div>

    <div class="mt-4 md:pt-0 lg:-mt-5 lg:ms-6 -me-5">
        <img src="assets/img/landing/product/cta.png" width="1296" alt="Image" class="block mx-auto">
    </div>
</section>