<!-- Sign up CTA -->
<section class="lg:py-24 md:py-18 py-12">
    <div class="container">
        <div class="bg-secondary dark:bg-white/4 py-12 rounded-md shadow-custom">
            <div class="grid md:grid-cols-12 items-center lg:p-0 p-6 md:text-start text-center md:gap-0 gap-6">
                <div class="md:col-span-6 lg:ms-26 lg:w-xl">
                    <h2 class="lg:text-2xl text-xl font-medium text-default-600 dark:text-white/60 mb-4">Ready to get started?</h2>
                    <p class="lg:mb-10 mb-6 lg:text-[40px] md:text-[33px] text-[28px] font-extrabold text-default-900">Take Your <span class="text-primary">Skills</span> to the<br class="hidden lg:block"> Next Level</p>
                    <a [routerLink]="[]" class="inline-block w-auto text-center bg-primary text-white py-3 px-8 font-semibold rounded-md transition-all hover:bg-primary-hover">Sign up now!</a>
                </div>
                <div class="md:col-span-6 mx-auto">
                    <img src="assets/img/landing/online-courses/steps/04-dark.svg" class="block dark:hidden w-95" alt="Illustration">
                    <img src="assets/img/landing/online-courses/steps/04-light.svg" class="hidden dark:block w-95" alt="Illustration">
                </div>
            </div>
        </div>
    </div>
</section>