<section class="bg-secondary dark:bg-white/4 lg:py-24 md:py-18 py-12">
    <div class="container">
        <div class="grid md:grid-cols-12 lg:gap-0 md:gap-6 gap-10">
            <div class="lg:col-span-4 md:col-span-5">
                <div class="md:text-start text-center">
                    <h2 class="lg:text-[33px] md:text-[28px] text-2xl mb-6 font-extrabold">Any questions? <br class="hidden md:block">Check out the FAQs</h2>
                    <p class="lg:mb-8 mb-6 text-lg lg:w-sm">Still have unanswered questions and need to get in touch?</p>
                    <a routerLink="/contacts/v2" class="py-3 px-7 bg-primary hover:bg-primary-hover font-semibold text-sm transition-all text-white rounded-md">Contact support</a>
                </div>
            </div>

            <div class="lg:col-span-8 md:col-span-7 lg:w-3xl ms-auto">
                <div class="hs-accordion-group flex flex-col gap-y-4">

                    @for (item of faqData; track $index) {

                    <div class="hs-accordion bg-white dark:bg-white/5 shadow-custom rounded-md" [class.active]="item.active" [id]="'q' + ($index + 1) + '-heading'">

                        <button class="hs-accordion-toggle inline-flex items-center justify-between gap-x-3 w-full font-bold text-start py-4 px-6 text-default-950" aria-expanded="true" [attr.aria-controls]="'q' + ($index + 1)">

                            {{ item.question }}

                            <div>
                                <div class="size-9 bg-secondary dark:bg-white/4 rounded-full hs-accordion-active:bg-primary hs-accordion-active:shadow-custom flex items-center justify-center">

                                    <lucide-icon name="chevron-down" class="hs-accordion-active:hidden text-default-950 block size-4">
                                    </lucide-icon>

                                    <lucide-icon name="chevron-up" class="hs-accordion-active:block hidden text-white size-4">
                                    </lucide-icon>
                                </div>
                            </div>
                        </button>

                        <div [id]="'q' + ($index + 1)" class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300" [class.hidden]="!item.active" role="region" [attr.aria-labelledby]="'q' + ($index + 1) + '-heading'">

                            <div class="px-6 pb-4">
                                <p class="text-sm mb-5">
                                    {{ item.answer1 }}
                                </p>

                                <p class="text-sm">
                                    {{ item.answer2 }}
                                </p>
                            </div>
                        </div>
                    </div>

                    }

                </div>
            </div>
        </div>
    </div>
</section>