<!-- Hero -->
<section class="md:mt-19 mt-17 h-screen bg-no-repeat bg-center bg-cover overflow-hidden dark bg-[url('assets/img/landing/intro/hero/bg.jpg')]">
    <div class="container">
        <div class="flex h-screen">
            <div class="w-full md:w-6xl lg:w-4/12 md:flex flex-col text-center md:text-start py-5 lg:px-0 px-3">
                <h1 class="text-4xl md:text-5xl lg:text-[64px] font-extrabold lg:mt-40 md:mt-26 mt-30 text-white mb-6">Silicon</h1>

                <p class="lg:text-2xl text-xl text-white/70 md:mb-16 mb-12 w-xs">
                    Multipurpose Business /
                    <br class="hidden md:inline">
                    Technology Template
                </p>

                <img src="assets/img/landing/intro/hero/switcher.svg" alt="Light / Dark Mode" class="w-54 mx-auto md:mx-0">

                <div class="relative flex items-center gap-2 justify-center md:justify-start md:mt-53! mt-40 md:mb-12">
                    <button class="flex items-center justify-center size-11 rounded-full bg-white/4 text-white transition">
                        <lucide-icon name="chevron-down" class="text-white size-4.5"></lucide-icon>
                    </button>

                    <a href="#landings" class="px-3 py-2 text-white/80" data-scroll data-scroll-offset="70">
                        View Landings
                    </a>
                </div>
            </div>

            <div class="md:flex hidden flex-shrink-0 lg:items-center items-start lg:-me-150">
                <img src="assets/img/landing/intro/hero/screens01.png" alt="Screens" class="md:w-122 md:h-348 rellax flex-shrink-0 block lg:mt-54! -mt-26" data-rellax-speed="4" data-disable-parallax-down="md" />
                <img src="assets/img/landing/intro/hero/screens02.png" alt="Screens" class="md:w-122 md:h-368 rellax flex-shrink-0 block mt-120!" data-rellax-speed="-4" data-disable-parallax-down="md" />
                <img src="assets/img/landing/intro/hero/screens03.png" alt="Screens" class="md:w-122 md:h-370 rellax flex-shrink-0 block mt-96" data-rellax-speed="4" data-disable-parallax-down="md" />
            </div>
        </div>
    </div>
</section>