<section>
    <div class="container">
        <div class="text-center lg:mb-10 mb-8">
            <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold">Our Dental Specialists</h2>
        </div>
        <div class="swiper">
            <swiper-container [config]="swiperConfig" init="false" class="lg:mb-0 mb-8">
                @for (member of teamData; track $index) {
                <swiper-slide>
                    <div class="w-full group">
                        <div class="relative rounded-md overflow-hidden shadow-custom">
                            <img [src]="member.image" [alt]="member.name" class="w-full h-auto object-cover rounded-md">

                            <div class="absolute inset-0 bg-primary/40 opacity-0 group-hover:opacity-100 transition duration-300 flex items-center justify-center">
                                <div class="flex gap-x-3">
                                    <a [routerLink]="[]" class="bg-white rounded size-9 shadow transition-all flex items-center justify-center text-default-600 hover:bg-blue-500 hover:text-white">
                                        <iconify-icon icon="tabler:brand-facebook-filled" class="text-lg"></iconify-icon>
                                    </a>
                                    <a [routerLink]="[]" class="bg-white rounded size-9 shadow transition-all flex items-center justify-center text-default-600 hover:bg-cyan-700 hover:text-white">
                                        <iconify-icon icon="tabler:brand-linkedin-filled" class="text-lg"></iconify-icon>
                                    </a>
                                    <a [routerLink]="[]" class="bg-white rounded size-9 shadow transition-all flex items-center justify-center text-default-600 hover:bg-cyan-500 hover:text-white">
                                        <iconify-icon icon="tabler:brand-twitter-filled" class="text-lg"></iconify-icon>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="text-center p-4">
                            <h3 class="text-lg mb-2 font-extrabold">{{ member.name }}</h3>
                            <p class="text-sm font-normal mb-2">{{ member.role }}</p>
                            <div class="flex items-center justify-center gap-x-1">
                                @for (i of [1, 2, 3, 4, 5]; track i) {
                                @if (i <= member.rating) { <iconify-icon icon="tabler:star-filled" class="text-warning text-sm"></iconify-icon>
                                    } @else {
                                    <iconify-icon icon="tabler:star" class="text-default-400 text-sm"></iconify-icon>
                                    }
                                    }
                                    <span class="text-xs text-default-500 dark:text-white/60">({{ member.reviews }} reviews)</span>
                            </div>
                        </div>
                    </div>
                </swiper-slide>
                }
            </swiper-container>
            <div class="swiper-pagination pagination position-relative pt-4 mt-1"></div>
        </div>
    </div>
</section>