 <section>
        <div class="container">
            <div class="bg-secondary dark:bg-white/3 rounded-lg lg:py-18 lg:px-20 py-10 md:px-8 px-6">
                <div class="grid md:grid-cols-2 items-center gap-8">
                    <div class="flex items-center">
                        <img src="assets/img/landing/app-showcase-1/notification-icon.svg" alt="Bell icon" class="size-19.5">
                        <div class="ps-4 md:ps-6">
                            <h2 class="lg:text-2xl text-xl font-extrabold">
                                Subscribe to our newsletter to stay informed about latest updates
                            </h2>
                        </div>
                    </div>

                    <div>
                        <form class="relative flex w-full max-w-md mx-auto">
                            <input type="email" id="subscr-email" placeholder="Your email" required class="w-full rounded-s-lg ps-12 pe-4 py-3 border bg-white dark:bg-white/4 border-default-300 dark:border-white/7 focus:ring-primary/40 outline-none">
                            <iconify-icon icon="tabler:mail" class="text-default-400 dark:text-white/60 absolute start-4 top-1/2 -translate-y-1/2" width="20" height="20"></iconify-icon>
                            <button type="submit" class="bg-primary text-white px-6 rounded-e-lg transition-all hover:bg-primary-hover font-semibold">
                                Subscribe
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>