<section class="lg:py-24 md:py-14 py-12">
    <div class="container">
        <div class="grid md:grid-cols-12 grid-cols-1 items-center lg:gap-0 gap-6">
            <div class="md:col-span-6">
                <div class="md:max-w-142">
                    <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold md:mb-10 mb-8">
                        Get possibilities for better trading with Silicon
                    </h2>

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-8 lg:gap-10">
                        @for (feature of featuresData; track feature.title) {
                        <div class="lg:block md:inline-flex gap-3">
                            <div class="bg-secondary size-11 dark:bg-white/4 rounded-lg inline-flex justify-center items-center p-2 mb-3">
                                <img [src]="feature.icon" [alt]="feature.title" class="size-5">
                            </div>
                            <div>
                                <h3 class="lg:text-xl font-extrabold mb-3">{{ feature.title }}</h3>
                                <p class="text-sm lg:block md:hidden block">{{ feature.description }}</p>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>

            <div class="md:col-span-6 col-span-1">
                <div class="relative rounded-xl lg:mb-20 shadow-[0_0.275rem_0.75rem_-0.0625rem_rgba(11,15,25,0.09),0_0.125rem_0.4rem_-0.0625rem_rgba(11,15,25,0.03)]">
                    <img src="assets/img/landing/app-showcase-2/stats.jpg" alt="Stats screen" class="block rounded-xl md:w-full" />
                </div>
            </div>
        </div>
    </div>
</section>