<section>
    <div class="container">
        <h2 class="lg:text-[40px] md:text-[33px] text-2xl font-extrabold md:text-start text-center mb-4">4 comments</h2>
        <div class="grid lg:grid-cols-12 grid-cols-1">
            <div class="lg:col-span-9 mb-6">
                @for (comment of commentsData; track $index) {
                <div>
                    <div class="py-6 relative">

                        @if (comment.isReply) {
                        <span class="absolute top-0 start-0 w-px h-full bg-primary"></span>
                        }

                        <div class="flex justify-between mb-3" [class.ps-10]="comment.isReply">
                            <div class="flex items-center me-3">
                                <img [src]="comment.avatar" [alt]="comment.name" class="size-12 rounded-full">

                                <div class="ps-4">
                                    <h6 class="font-bold text-default-900">{{ comment.name }}</h6>
                                    <span class="text-sm text-default-500">{{ comment.time }}</span>
                                </div>
                            </div>

                            <div class="flex justify-end">
                                <a [routerLink]="[]" class="flex items-center gap-1 text-sm">
                                    <lucide-icon name="reply" class="size-4.5"></lucide-icon>
                                    Reply
                                </a>
                            </div>
                        </div>

                        <p [class.ps-10]="comment.isReply">

                            @if (comment.replyTo) {
                            <a [routerLink]="[]" class="text-primary font-bold">
                                @{{ comment.replyTo }}
                            </a>
                            }

                            {{ comment.message }}
                        </p>
                    </div>

                    @if (!$last && $index !== 1) {
                <hr class="border-default-200 dark:border-white/14 my-2">
                }

                </div>
                }
            </div>
        </div>
    </div>
</section>