<section>
    <div class="container">
        <div class="grid grid-cols-1 lg:grid-cols-2 items-start md:gap-6 gap-4 lg:mb-24 mb-14">
            <div>
                <h1 class="lg:text-7xl md:text-[56px] text-[40px] font-extrabold">
                    Custom Software Development
                </h1>
            </div>

            <div class="lg:w-lg lg:ms-auto lg:mt-6">
                <p class="text-xl lg:mb-10 mb-8"> Id eget blandit sapien cras massa lectus lorem placerat. Quam dolor commodo fermentum bibendum dictumst. Risus pretium eget at viverra eget. Sit neque adipiscing malesuada blandit justo, quam.</p>
                <a [routerLink]="[]" class="inline-block w-auto text-center bg-primary  text-white py-3.5 px-8 font-bold hover:!shadow-none rounded-md transition-all hover:bg-primary-hover">
                    Start your project
                </a>
            </div>
        </div>
        <hr class="border-default-200 dark:border-white/14">
    </div>
</section>