<section>
    <div class="container">
        <div class="swiper">
            <swiper-container class="mb-10" [config]="swiperConfig" init="false">
                @for (brand of brandsData; track $index) {
                <swiper-slide class="py-3">
                    <a [routerLink]="[]" class="rounded-lg border border-default-200 dark:border-white/14 dark:hover:bg-white/4 dark:hover:border-white/30 bg-transparent py-8 px-3 hover:transform hover:-translate-y-1.5 transition-all duration-300 hover:shadow-md flex justify-center items-center">
                        <img [src]="brand.image" class="w-38.5" [alt]="brand.alt">
                    </a>
                </swiper-slide>
                }

            </swiper-container>
            <div id="pagination2" class="swiper-pagination relative pt-2 mt-4"></div>
        </div>
    </div>
</section>