<section class="lg:py-24 md:py-18 py-12">
    <div class="container">
        <div class="text-center lg:mb-10 md:mb-8 mb-6">
            <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold">Latest From Our Blog</h2>
        </div>
        <div class="swiper">
            <swiper-container [config]="swiperConfig" init="false" class="mb-12">
                @for (item of blogData; track $index) {
                <swiper-slide>
                    <article class="h-full bg-transparent rounded-md p-6 border border-default-200 dark:border-white/14">
                        <div class="flex justify-between mb-6">
                            <a [routerLink]="[]" class="px-3 py-1 text-sm bg-secondary font-semibold rounded-md text-default-800 dark:bg-white/4">{{ item.date }}</a>
                        </div>

                        <h3 class="md:text-2xl text-xl font-extrabold mb-4">
                            <a [routerLink]="[]" class="text-default-800 hover:text-primary transition-all">
                                {{ item.title }}
                            </a>
                        </h3>

                        <p class="mb-6"> {{ item.description }}</p>

                        <div class="flex items-center lg:gap-0 gap-6 justify-between">
                            <a [routerLink]="[]" class="flex items-center font-bold text-default-900">
                                <img [src]="item.authorImage" class="size-12 rounded-full me-4" alt="Avatar">
                                {{ item.author }}
                            </a>

                            <div class="flex items-center text-default-400 dark:text-white/50 gap-4 text-sm">
                                <div class="flex items-center gap-1">
                                    <iconify-icon icon="lucide:thumbs-up" class="text-lg"></iconify-icon>
                                    <span>{{ item.stats.likes }}</span>
                                </div>
                                <div class="flex items-center space-x-1">
                                    <iconify-icon icon="lucide:message-square" class="text-lg"></iconify-icon>
                                    <span>{{ item.stats.comments }}</span>
                                </div>
                                <div class="flex items-center space-x-1">
                                    <iconify-icon icon="lucide:share-2" class="text-lg"></iconify-icon>
                                    <span>{{ item.stats.shares }}</span>
                                </div>
                            </div>
                        </div>
                    </article>
                </swiper-slide>
                }
            </swiper-container>
            <div id="blogpagination" class="swiper-pagination position-relative pt-2 mt-4"></div>
        </div>

        <div class="flex justify-center md:mt-0 mt-4">
            <a [routerLink]="[]" class="text-center border font-semibold rounded-md border-primary/40 text-primary py-2.5 px-8 hover:bg-primary hover:text-white transition-all">More blog posts</a>
        </div>
    </div>
</section>