<section class="lg:py-24 md:py-18 py-12">
        <div class="container">
            <div class="text-center mx-auto">
                <h2 class="lg:text-[40px] md:text-[33px] mx-auto text-[28px] font-extrabold md:mb-8 mb-5 lg:w-2xl md:w-lg"> Get Possibilities for Better Trading with Silicon</h2>
                <ul class="flex flex-wrap justify-center md:text-center text-start gap-4.5 mb-12 list-none">
                    <li class="flex md:items-center items-start gap-1.5 text-xl">
                        <div>
                            <iconify-icon icon="tabler:check" class="text-xl md:mt-0 mt-1 text-primary"></iconify-icon>
                        </div>
                        <span>
                            Spend with the Crypto and get up to
                            <strong class="text-primary ms-1">12% back</strong>
                        </span>
                    </li>

                    <li class="flex md:items-center items-start gap-1.5 text-xl">
                        <div>
                            <iconify-icon icon="tabler:check" class="text-xl md:mt-0 mt-1 text-primary"></iconify-icon>
                        </div>
                        <span>
                            Invite friends and get
                            <strong class="text-primary ms-1">new opportunities</strong>
                        </span>
                    </li>

                    <li class="flex md:items-center items-start gap-1.5 text-xl">
                        <div>
                            <iconify-icon icon="tabler:check" class="text-xl md:mt-0 mt-1 text-primary"></iconify-icon>
                        </div>
                        <span>
                            Trade and earn
                            <strong class="text-primary mx-1">200+ cryptocurrencies</strong>
                            and get a permanent
                            <strong class="text-primary ms-1">5% discount</strong>
                        </span>
                    </li>
                </ul>
            </div>

            <div class="relative md:px-10 px-4">
                <img src="assets/img/landing/saas-3/feature-1/main.png" alt="Dashboard" class="block mx-auto rounded-3xl shadow-[0_1.875rem_7.5rem_-0.625rem_rgba(124,125,152,0.2)]" width="1079">

                <div class="absolute w-full lg:-start-12 -start-6 lg:bottom-26 md:bottom-20 bottom-18">
                    <img src="assets/img/landing/saas-3/feature-1/popup01.png" alt="Popup" class="block rounded-xl shadow-lg transform translate-x-7 translate-y-12 lg:w-77 md:w-44 w-25" data-rellax-percentage="0.5" data-rellax-speed="1" data-disable-parallax-down="lg">
                </div>

                <div class="absolute w-full end-0 top-[12%] ps-[74.16%]">
                    <img src="assets/img/landing/saas-3/feature-1/popup02.png" alt="Popup" class="block rounded-xl shadow-lg" width="310" data-rellax-percentage="0.5" data-rellax-speed="1" data-disable-parallax-down="lg">
                </div>

                <div class="absolute w-full end-0 bottom-[9.4%] ps-[64.83%] pe-[5.5%]">
                    <img src="assets/img/landing/saas-3/feature-1/popup03.png" alt="Popup" class="block ms-auto rounded-xl shadow-xs transform translate-x-3 translate-y-7" width="322" data-rellax-percentage="0.5" data-rellax-speed=".5" data-disable-parallax-down="lg">
                </div>
            </div>
        </div>
    </section>