<section class="relative border-y border-default-200 dark:border-white/14">
    <div class="max-w-full w-480">
        <div class="overflow-hidden">
            <img-comparison-slider class="-m-1">
                <figure slot="first">
                    <img src="assets/img/landing/saas-2/dark-mode.jpg" alt="Dashboard Dark Mode" class="w-full">
                </figure>

                <figure slot="second">
                    <img src="assets/img/landing/saas-2/light-mode.jpg" alt="Dashboard Light Mode" class="w-480">
                </figure>

                <div slot="handle" class="w-10.5">
                    <svg class="text-primary rounded-full" width="42" height="42" viewBox="0 0 42 42" xmlns="http://www.w3.org/2000/svg">
                        <circle fill="currentColor" cx="21" cy="21" r="21"></circle>
                        <path fill="white" d="M25.5019 19.7494H15.9147V15.9146L11.1211 20.7081L15.9147 25.5017V21.6669H25.5019V25.5017L30.2955 20.7081L25.5019 15.9146V19.7494Z"></path>
                    </svg>
                </div>
            </img-comparison-slider>
        </div>
    </div>
</section>