    <section class="lg:py-24 md:py-18 py-12">
        <div class="container">
            <div class="grid md:grid-cols-12 lg:gap-0 md:gap-x-10 gap-y-6 lg:items-center items-start">
                <div class="md:col-span-6">
                    <div>
                        <img src="assets/img/landing/software-agency-1/about-img.jpg" alt="" class="rounded-md">
                    </div>
                </div>

                <div class="md:col-span-6">
                    <div class="lg:w-lg lg:ms-auto">
                        <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold lg:mb-6 mb-4">Award-Winning Software Company</h2>
                        <p class="lg:mb-10 mb-6 text-lg">Erat pharetra sed at fringilla etiam nullam platea fringilla. Gravida sodales sit mauris amet massa justo. Egestas ipsum amet tortor hendrerit amet phasellus adipiscing. Eget porta posuere pellentesque sed commodo gravida dignissim dignissim iaculis. Elementum nibh duis at in.</p>
                        <div class="flex items-center gap-6 lg:mb-10 mb-6">
                            <div>
                                <img src="assets/img/landing/software-agency-3/awards/clutch-light.png" alt="Clutch" class="block dark:hidden w-16">
                                <img src="assets/img/landing/software-agency-3/awards/clutch-dark.png" alt="Clutch" class="hidden dark:block w-16">
                            </div>

                            <div>
                                <img src="assets/img/landing/software-agency-3/awards/forbes-light.png" alt="Forbes" class="block dark:hidden w-18">
                                <img src="assets/img/landing/software-agency-3/awards/forbes-dark.png" alt="Forbes" class="hidden dark:block w-18">
                            </div>

                            <div>
                                <img src="assets/img/landing/software-agency-3/awards/awwwards-light.png" alt="Awwwards" class="block dark:hidden w-9">
                                <img src="assets/img/landing/software-agency-3/awards/awwwards-dark.png" alt="Awwwards" class="hidden dark:block w-9">
                            </div>
                        </div>

                        <a [routerLink]="[]" class="inline-flex w-auto justify-center gap-2 items-center px-7 py-3 border border-primary/50 text-primary hover:bg-primary hover:text-white transition-all duration-300 font-semibold rounded-md">
                            More about us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>