<footer class="lg:pt-24 lg:pb-18 md:pt-14 pb-0 pt-12 border-t border-default-200 dark:border-white/14">
    <div class="container">
        <div class="text-center mb-8">
            <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold">Subscribe to Our Newsletter</h2>
        </div>
        <form action="" target="_blank" class="text-center">
            <div class="md:flex justify-center gap-3">
                <div class="relative lg:w-lg md:w-sm">
                    <input type="email" name="EMAIL" placeholder="Your email" required class="block w-full rounded-lg border-default-300 text-default-700 dark:bg-white/4 dark:border-white/14 px-4.5 py-3 ps-12 focus:ring-primary" />
                    <i data-lucide="mail" class="size-4 text-default-500 dark:text-white/60 absolute start-4 top-1/2 -translate-y-1/2"></i>
                </div>

                <div class="md:inline-flex md:mt-0 mt-4">
                    <button type="submit" name="subscribe" class="md:w-auto w-full px-6 py-3 font-semibold rounded-lg bg-primary text-white hover:bg-primary-hover  hover:!shadow-none transition">
                        Subscribe*
                    </button>
                </div>
            </div>

            <p class="mt-6">*Enjoy using Silicon Template and stay tuned for the latest updates and news.</p>
        </form>

        <div class="lg:my-18 md:my-10 mt-10 mb-6 text-center">
            <p class="text-default-500 dark:text-white/60 flex flex-wrap items-center justify-center gap-1">
                © All rights reserved. Made with<i class="iconify lucide--heart size-4 text-primary"></i>by
                <a href="https://coderthemes.com/" class="underline" target="_blank" rel="noopener">
                    Coderthemes
                </a>
            </p>
        </div>
    </div>
</footer>