<section class="lg:py-24 md:py-12 py-8">
    <div class="container">
        <div class="grid lg:grid-cols-12 lg:gap-0 gap-10">
            <div class="lg:col-span-4 lg:text-start text-center">
                <h2 class="lg:text-[40px] md:text-[33px] text-[28px] font-extrabold lg:mb-6 mb-4">Highly Innovative Technology & Services</h2>
                <p class="lg:mb-10 mb-6">We appreciate your trust greatly. Our patients choose us and our services because they know we are the best. We offer complete health care to individuals with various health concerns.</p>
                <a [routerLink]="[]" class="inline-block w-auto text-center bg-primary  text-white py-3.5 px-8 font-bold hover:!shadow-none rounded-md transition-all hover:bg-primary-hover">All services</a>
            </div>

            <div class="lg:col-span-8 lg:w-3xl ms-auto">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                 
                    @for (column of servicesData; track $index) {
                    <div class="flex flex-col gap-y-6">

                        @for (service of column.items; track service.title) {
                        <div
                            class="col-span-1 bg-secondary dark:bg-white/4 rounded-lg p-6 hover:shadow-lg group border-0 transition hover:-translate-y-1 relative">

                            <div class="flex items-start">
                                <div
                                    class="flex-shrink-0 bg-white dark:bg-dark rounded-md size-15 flex items-center justify-center">
                                    <img [src]="service.icon" class="w-7" [alt]="service.title">
                                </div>

                                <div class="ps-6">
                                    <h3 class="text-xl font-extrabold mb-3">
                                        {{ service.title }}
                                    </h3>

                                    <p class="mb-3">
                                        {{ service.description }}
                                    </p>

                                    <a [routerLink]="service.link"
                                        class="inline-flex py-2 md:w-auto gap-2 items-center text-sm text-primary group-hover:text-primary-hover duration-300 font-bold">

                                        Learn more

                                        <iconify-icon icon="tabler:arrow-right" class="font-bold" height="16" width="16"></iconify-icon>
                                    </a>
                                </div>
                            </div>

                        </div>
                        }

                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>