 <section class="lg:py-24 md:py-18 py-12">
        <div class="container pt-8">
            <div class="grid md:grid-cols-12 md:gap-0 gap-y-4 items-center">
                <div class="md:col-span-5 md:order-1 order-2">
                    <h1 class="lg:text-[56px] md:text-[45px] text-[33px] font-extrabold mb-4">We ride. We care. We share.</h1>
                    <p class="text-xl lg:mb-14 mb-8">Empower citizens to move with ease and style by sharing
                        sustainable vehicles.</p>
                    <div class="relative mb-6 max-w-104 lg:block md:hidden">
                        <div class="absolute flex justify-center items-center bg-black dark:bg-white dark:text-black text-white text-lg rounded-sm w-6 h-6 -mt-2 start-[63%] -ms-2">
                            <iconify-icon icon="tabler:letter-k-small" width="23" height="23"></iconify-icon>
                        </div>

                        <div class="h-1.5 w-full bg-default-200 dark:bg-white/14 rounded-full overflow-hidden">
                            <div class="bg-success h-full w-[63%]"></div>
                        </div>
                    </div>
                    <ul class="flex-col gap-y-2 lg:flex md:hidden">
                        <li class="flex items-center gap-2">
                            <iconify-icon icon="tabler:circle-check" class="font-medium text-xl text-primary"></iconify-icon>
                            $8,294 pledged
                        </li>
                        <li class="flex items-center gap-2">
                            <iconify-icon icon="tabler:circle-check" class="font-medium text-xl text-primary"></iconify-icon>
                            63% funded
                        </li>
                        <li class="flex items-center gap-2">
                            <iconify-icon icon="tabler:circle-check" class="font-medium text-xl text-primary"></iconify-icon>
                            15 days to go
                        </li>
                    </ul>
                    <div class="lg:mt-12 md:mt-0 mt-7">
                        <a [routerLink]="[]" class="inline-flex md:w-auto w-full gap-2 items-center justify-center px-8 py-3 text-white bg-primary hover:bg-primary-hover transition-all duration-300 font-semibold rounded-lg">
                            Back us on Kickstarter
                            <iconify-icon icon="tabler:arrow-right" class="font-bold size-4"></iconify-icon>
                        </a>
                    </div>
                </div>

                <div class="md:col-span-7 md:order-2 order-1">
                    <div appParallax id="parallax" class="relative max-w-186.5 pointer-events-none [transform-style:preserve-3d] [backface-visibility:hidden]">
                        <div class="parallax-layer relative block" data-depth="0.1">
                            <img src="assets/img/landing/startup/hero/phone.png" alt="Phone">
                        </div>

                        <div class="parallax-layer absolute top-0 start-0 block" data-depth="0.2">
                            <img src="assets/img/landing/startup/hero/scooters.png" alt="Scooters">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>